---
layout: site-2016
title: HE:labs Crafting amazing  digital products
description: We can help you to elaborate your MVP and choose the right resources for it. We are a full stack team guided by user experience values.
body_id: "home"
pt: /
redirect_from:
 - /en/opensource/
 - /en/community/
 - /en/mediakit/
---

{% include nav-side-bar-2016.html %}

<section id="home" class="main-banner">
  <div class="main-banner__bg player" data-property='{videoURL:"https://www.youtube.com/watch?v=LpGWQ__Pc-U",containment:"self",autoPlay:true, mute:true, startAt:4, stopAt:16, opacity:0.2, addRaster:true, showControls:false, gaTrack:false, stopMovieOnBlur:false }'>
    <div class="wrapper">
      <div class="main-banner__content">
        <h1 class="main-banner__title">
          Creating amazing <br>digital products!
        </h1>

        <p class="main-banner__subtitle">
          We are a fast-paced team of <span id="typed" style="white-space:pre;"></span>. </br>
          Together we transform your idea into <br/> an exceptional digital product.
        </p>

        <div id="typed-strings">
          <p><strong>coders</strong></p>
          <p><strong>designers</strong></p>
          <p><strong>thinkers</strong></p>
        </div>
      </div>
    </div>
  </div>

  <a href="#services" class="main-banner__arrow-down"><span class="animation"></span></a>
</section>

<section id="services" class="section-services">
  <div class="wrapper">
    <div class="section-services__heading">
      <h2 class="section-services__title title-line title-line--center">
        Our services
      </h2>
      <p class="section-services__subtitle">
        We can help you with the design of your MVP and the choice of the right resources for it. <br>
        We are a <strong>full stack</strong> team guided by <strong>user experience values</strong>.
      </p>
    </div>

    <div class="section-services__box">
      <figure>
        <img src="/images/icon-services-stack.svg" alt="">
      </figure>
      <h3 class="section-services__service">Full stack development</h3>
      <p class="section-services__description">
        We have a <strong>flexible technology</strong> team with various skillsets and abilities that you can consolidate for your product.
      </p>
    </div>

    <div class="section-services__box del-1">
      <figure>
        <img src="/images/icon-services-ux.svg" alt="">
      </figure>
      <h3 class="section-services__service">UI/UX design</h3>
      <p class="section-services__description">
        We will provide the best solution for your products’ interface, <strong>testing its user experience</strong> and continually improving its design.
      </p>
    </div>

    <div class="section-services__box del-2">
      <figure>
        <img src="/images/icon-services-product.svg" alt="">
      </figure>
      <h3 class="section-services__service">Product strategy</h3>
      <p class="section-services__description">
        With an <strong>experienced team dedicated</strong> to your product strategy <strong>at no additional cost</strong>, we help you achieve your goals.
      </p>
    </div>
  </div>

  <a href="/en/services" class="btn btn--red">LEARN MORE</a>
</section>

<section id="portfolio" class="section-projects">
  <div class="wrapper">
    <div class="section-projects__heading">
      <h2 class="section-projects__title title-line title-line--center">
        What we have done
      </h2>
      <p class="section-projects__subtitle">
        Inspiring projects. Stunning ideas
      </p>
    </div>
  </div>

  <div class="mosaic">
    <div class="mosaic__column">
      <div class="mosaic__column--one">
        <div class="mosaic__box">
          <figure>
            <a href="/en/case/espn">
              <img src="/images/cases/espn_thumb.jpg" srcset="/images/cases/espn_thumb@2x.jpg 2x" alt="ESPN Portal" title="ESPN Portal">
            </a>
            <figcaption class="mosaic__box-caption">
              <span class="project">web</span>
              <span class="project-name">espn portal</span>
              <a class="full-case" href="/en/case/espn">full case</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="mosaic__column--two">
        <div class="mosaic__box">
          <figure>
            <a href="/en/case/atendesimples">
              <img src="/images/cases/atendesimples_thumb.jpg" alt="Project x">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Atende simples</span>
              <a class="full-case" href="/en/case/atendesimples">full case</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a class="full-case" href="/en/case/locaweb">
              <img src="/images/cases/locaweb_thumb.jpg" alt="Project x">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">mobile</span>
              <span class="project-name">Locaweb</span>
              <a class="full-case" href="/en/case/locaweb">full case</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a class="full-case" href="/en/case/pmcanvas">
              <img src="/images/cases/canvas_thumb.jpg" alt="Project x">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">mobile</span>
              <span class="project-name">Canvas</span>
              <a class="full-case" href="/en/case/pmcanvas">full case</a>
            </figcaption>
          </figure>
        </div>
         <div class="mosaic__box">
          <figure>
            <a href="/en/case/petroomie">
              <img src="/images/cases/petroomie_thumb.jpg" alt="Pet Roomie">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Pet Roomie</span>
              <a class="full-case" href="/en/case/petroomie">full case</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-brands">
  <div class="wrapper">
      <h2 class="section-brands__title">Brands that love us</h2>
      <ul class="section-brands__list">
        <li class="section-brands__list--item">
          <img src="/images/brands-espn.svg" alt="ESPN">
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-locaweb.svg" alt="Locaweb">
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-eduk.svg" alt="eduK">
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-uol.svg" alt="UOL">
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-monashees.png" alt="Monashees">
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-citrix.svg" alt="Citrix">
        </li>
      </ul>
  </div>
</section>

<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        What are you waiting for?
      </h2>
      <p class="section-waiting__subtitle">
        Let's make something awesome together!
      </p>
      <a href="/en/hire-us" class="btn btn--white">HIRE US</a>
    </div>
  </div>
</section>

<section id="team" class="section-team">

  <div class="wrapper">
    <div class="section-team__heading">
      <h2 class="section-team__title title-line title-line--center">
        Our tean
      </h2>
      <p class="section-team__subtitle">
        The best developers, designers and hackers gathered in highly productive teams.
      </p>
    </div>
  </div>

  <div class="section-team__grid">
  {% for person in site.categories.time reversed %}
    <div class="section-team__item">
      <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
      <div class="section-team__name">
        <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
      </div>
    </div>
  {% endfor %}
  </div>

</section>
