---
layout: site-2016
title: Our Work
description: HE:labs
body_id: "our-work"
pt: /portfolio/
redirect_from:
 - /en/love/
 - /en/work/
 - /en/work/flirt/
 - /en/work/brasil-mesada/
 - /en/work/medical-log/
 - /en/work/talk2myo/
 - /en/work/fantatzy/
 - /en/work/beija-eu/
 - /en/work/nutrical/
 - /en/work/beacon-hunt/
 - /en/work/ie-capoeira/
 - /en/work/early-shares/
 - /en/work/accredify/
 - /en/work/worthix/
 - /en/work/negocios-brasil/
---

<section class="ourwork">

  <div class="wrapper">
    <div class="ourwork__heading">

      <h2 class="ourwork__title title-line title-line--center">
        Our Work
      </h2>
      <p class="ourwork__subtitle">
        some of our work
      </p>

    </div>
  </div>

</section>

<section class="projects">
  <div class="wrapper">
    <div class="projects__list">

        {% for case in site.categories.caseen reversed %}
          {% if case.thumb %}
            <div class="projects__box">
              <figure>
                <a href="{{case.permalink}}">
                  <img src="{{case.thumb}}" {% if case.thumb2x %} srcset="{{case.thumb2x}} 2x" {% endif %} alt="{{case.name}}" title="{{case.name}}">
                </a>
                <figcaption class="projects__box-caption projects__box-caption--small">
                  <div class="projects__box-caption-links">
                    <a class="projects__link-image" href="{{case.permalink}}">{% include /svg/open-case.svg %}</a>
                  </div>
                </figcaption>
              </figure>
              <div class="projects__infos">
                <span class="projects__project">{{case.type}}</span>
                <span class="projects__name">{{case.name}}</span>
                <p class="projects__subtitle">{{case.resume}}</p>
                <a class="projects__link" href="{{case.permalink}}">Full Case</a>
              </div>
              <div class="projects__more-details">
                <p>
                  <span>{% include /svg/icon-time-development.svg %} {{case.time}}</span>
                  <span>{% include /svg/icon-team-members.svg %} {{case.members}}</span>
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}

    </div>

    <!-- <a href="javascript:return false;" class="btn btn--red">LOAD MORE</a> -->
  </div>


</section>

<section class="testimonials">
  <div class="testimonials__content">

    <h2 class="testimonials__title title-line title-line--center">Testimonials</h2>

    <p class="testimonials__subtitle">
      What our customers say
    </p>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials-en %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img src="/images/avatars/{{ testimonial.picture }}.png" alt="{{ testimonial.author }}">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box video" title="Depoimento de Marcelo Vieira" href="https://www.youtube.com/v/vZfu7rP5JRo?fs=1&amp;autoplay=1&amp;cc_load_policy=1&amp;showinfo=0&ambp;rel=0&amp;controls=0">
      <figure><img src="/images/testimonial1.jpg" alt="Marcelo Vieira - ManagerBook"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Marcelo Viera</span>
        <span class="testimonials-video__project">ManagerBook</span>
      </div>
    </a>

    <a class="testimonials-video__box video" title="Depoimento de Rodrigo Paolucci" href="https://www.youtube.com/v/tRamkI2wwW0?fs=1&amp;autoplay=1&amp;cc_load_policy=1&amp;showinfo=0&ambp;rel=0&amp;controls=0" >
      <figure><img src="/images/testimonial2.jpg" alt="Rodrigo Paolucci - Samba Ads"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Rodrigo Paolucci</span>
        <span class="testimonials-video__project">Samba Ads</span>
      </div>
    </a>

    <a class="testimonials-video__box video" title="Depoimento de Joaquim Torres" href="https://www.youtube.com/v/RL7P_MjeZAA?fs=1&amp;autoplay=1&amp;cc_load_policy=1&amp;showinfo=0&ambp;rel=0&amp;controls=0">
      <figure><img src="/images/testimonial3.jpg" alt="Joaquim Torres - Locaweb"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Joaquim Torres</span>
        <span class="testimonials-video__project">Locaweb</span>
      </div>
    </a>

    <a class="testimonials-video__box video" title="Depoimento de Fabiane e Helena" href="https://www.youtube.com/v/3QKluUSthJc?fs=1&amp;autoplay=1&amp;cc_load_policy=1&amp;showinfo=0&ambp;rel=0&amp;controls=0">
      <figure><img src="/images/testimonial4.jpg" alt="Fabiane e Helena - Sala de Ideias"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Fabiane e Helena</span>
        <span class="testimonials-video__project">Sala de Ideias</span>
      </div>
    </a>

  </div>

</section>


<section class="clients-grid">
  <div class="wrapper">

    <div class="clients-grid__heading">

      <h2 class="clients-grid__title title-line title-line--center">
        Some of our clients
      </h2>
      <p class="clients-grid__subtitle">
        We help startups and big companies around the world
      </p>

    </div>

    <ul class="clients-grid__wrap">
      <li class="clients-grid__item">
        <img src="/images/brands/citrix.png" alt="Citrix">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/espn.png" alt="ESPN">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/uol.png" alt="UOL">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/locaweb.png" alt="Locaweb">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/brandstar.png" alt="Brandstar">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/samba-ads.png" alt="Samba ADS">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/atende-simples.png" alt="Atende Simples">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/movingscripts.png" alt="Moving Scripts">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/pagnet.png" alt="Pagnet">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/brasil-prepagos.png" alt="Brasil Pré-pagos">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/b-2-w.png" alt="B2W Digital">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/worthix.png" alt="Worthix">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/boleto-simples.png" alt="Boleto Simples">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/abstartups.png" alt="ABStartups">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/easy-food.png" alt="Easy Food">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/vidafuncional.png" alt="Vida Funcional">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/project-builder.png" alt="Project Builder">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/logoserv.png" alt="Title">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/objective.png" alt="Objective">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/pm-2-o.png" alt="PM2O">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/bonuz.png" alt="Bonuz">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/worldsstudy.png" alt="Title">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/canal-curta.png" alt="Curta!">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/orientapsi.png" alt="Orientapsi">
      </li>
      <!-- /bloco-->
      <li class="clients-grid__item">
        <img src="/images/brands/radar.png" alt="Radar">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/beved.png" alt="beved">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/monashees.png" alt="Monashees">
      </li>
      <li class="clients-grid__item">
        <img src="/images/brands/eduk.png" alt="EduK">
      </li>
      <!-- /bloco-->
    </ul>


  </div>
</section>



<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        What are you waiting for?
      </h2>
      <p class="section-waiting__subtitle">
        Let's make something awesome together!
      </p>
      <a href="/en/hire-us/" class="btn btn--white">HIRE US</a>
    </div>
  </div>
</section>
