---
layout: site-2016
title: Agile development, UX / UI, Full Stack - our services
description: The range of services HE:labs is huge, starting from the product direction, agile development, full stack, UX / UI design.
body_id: "services"
pt: /servicos
redirect_from:
 - /en/magic/
---

<section class="our-services">

  <div class="wrapper">
    <div class="our-services__heading">

      <h2 class="our-services__title title-line title-line--center">
        Our services
      </h2>
      <p class="our-services__subtitle">
        Some of the reasons to develop your project with us.
      </p>

    </div>
  </div>
</section>

<section class="services">
  <div class="wrapper">
    <div class="services__description">
      <h2 class="services__title">From a <strong>single idea</strong> <br /> new <i>experiences for millions</i></h2>

      <p>Our multidisciplinary approach is focused on user experience. We consolidate our resources to expand and develop your initial concept with lightning fast results, having as top priority who your clients are and what they expect from a modern app.</p>

      <p>The project will be under your complete control, fully customized to meet your expectations and those of your clients.</p>
    </div>

    <div class="services__list">
      <div class="services__box">
        {% include /svg/ic-fullstack.svg %} {{case.time}}
        <h3 class="services__subtitle">Full stack development</h3>
        <p>One of the key aspects of our team is flexibility. We recommend which and how many professionals get to work in your project, according to its scope and how each specialist can contribute for your clients’ whole experience. <br /> Shall the need arise, the team can be adapted seamlessly at any moment during the process.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-ux.svg %} {{case.time}}
        <h3 class="services__subtitle">UX/UI Design</h3>
        <p>Using the basic design laid down by you and our team, we systematically reach solutions through research, prototyping and validation to meet the real life demands of your clients.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-product.svg %} {{case.time}}
        <h3 class="services__subtitle">Product targeting</h3>
        <p>We offer you a multidisciplinary team to fine-tune the strategic decisions that will define your product’s flow of use at no additional cost.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-agile.svg %} {{case.time}}
        <h3 class="services__subtitle">Agile development</h3>
        <p>Our extreme programming methodology and dedicated specialist teams will provide you with weekly iterations that give you the sense of control and freedom to take your concepts further.</p>
      </div>
    </div>
  </div>
</section>

<section class="ourwork-counter">

    <div class="wrapper">

      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">65</span>
        <span class="ourwork-counter__name">professionals</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">180</span>
        <span class="ourwork-counter__name">projects</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">2000</span>
        <span class="ourwork-counter__name">iterations</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">93.600</span>
        <span class="ourwork-counter__name">cups of coffee</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">2971</span>
        <span class="ourwork-counter__name">pizza slices</span>
      </div>

    </div>
</section>


<section class="about-services">
  <div class="wrapper">
    <h2 class="about-services__title title-line title-line--center">
      Methodology
    </h2>
    <div class="about-services__heading">
      <h2 class="about-services__title">
        In <span class="about-services__title--red">5 days</span> you can validate your product.
      </h2>

      <p>
        We work with you to define your requirements, design the entire project and deliver a web or mobile app ready to use at the end of one work week for the former and two weeks for the latter, at a fixed fee.
      </p>

      <!--a href="/en/hire-us" class="btn-hire-us-about btn btn--black">Hire US</a-->
    </div>
    <div class="container">
      {% include about-us-circle.html %}
    </div>
  </div>
</section>


<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        What are you waiting for?
      </h2>
      <p class="section-waiting__subtitle">
        Let's make something awesome together!
      </p>
      <a href="/en/hire-us/" class="btn btn--white">HIRE US</a>
    </div>
  </div>
</section>
