---
layout: site-2016
title: Our Services | HE:labs
description: Our services HE:labs
body_id: "services"
pt: /servicos
---

<section class="our-services">

  <div class="wrapper">
    <div class="our-services__heading">

      <h2 class="our-services__title title-line title-line--center">
        Our services
      </h2>
      <p class="our-services__subtitle">
        Some of the reasons to work with us
      </p>

    </div>
  </div>
</section>

<section class="services">
  <div class="wrapper">
    <div class="services__description">
      <h2 class="services__title">From ideas <strong>to products</strong> <br /> from zero to  <i>millions of users!</i></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>

    <div class="services__list">
      <div class="services__box">
        {% include /svg/ic-fullstack.svg %} {{case.time}}
        <h3 class="services__subtitle">development Full Stack</h3>
        <p>Our team is flexible and works seamlessly. We mastered various technologies and we are ready to form a team that fits into the context of your product.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-ux.svg %} {{case.time}}
        <h3 class="services__subtitle">UX/UI Design</h3>
        <p>We think of all the aspects that involve user interaction with your product and seek, through research, prototyping and validation solutions that truly meet the needs of people.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-product.svg %} {{case.time}}
        <h3 class="services__subtitle">Product targeting</h3>
        <p>In addition, we provide a multidisciplinary team which helps in strategic decisions of your product. No additional cost.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-agile.svg %} {{case.time}}
        <h3 class="services__subtitle">Agile development</h3>
        <p>We work in iterations than a week, following our methodology based on eXtreme Programming and a team of experts excluisva for your project.</p>
      </div>
    </div>
  </div>
</section>

<section class="ourwork-counter">

    <div class="wrapper">

      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">300</span>
        <span class="ourwork-counter__name">heppy customers</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">6367</span>
        <span class="ourwork-counter__name">pizza slices</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">985</span>
        <span class="ourwork-counter__name">html files</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">100234</span>
        <span class="ourwork-counter__name">code lines</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">456</span>
        <span class="ourwork-counter__name">sketch files</span>
      </div>

    </div>
</section>


<section class="about-services">
  <div class="wrapper">
    <h2 class="about-services__title title-line title-line--center">
      Methodology
    </h2>
    <div class="about-services__heading">
      <h2 class="about-services__title">
        In <span class="about-services__title--red">5 days</span> you can validate product
      </h2>

      <p>
        We detail your needs, we plan to design and deliver a web app or mobile ready for use at the end of a work week (web) or two (mobile), with fixed investment.
      </p>

      <a href="/en/hire-us" class="btn-hire-us-about btn btn--black">Hire US</a>
    </div>
    <div class="container">
      {% include about-us-circle.html %}
    </div>
  </div>
</section>


<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        What are you waiting for?
      </h2>
      <p class="section-waiting__subtitle">
        Let's make something awesome together!
      </p>
      <a href="/en/hire-us" class="btn btn--white">HIRE US</a>
    </div>
  </div>
</section>
