// *************************************
//
//   HE-Buttons
//
// *************************************
.btn {
  @include transition(all .3s);
  @include user-select(none);
  background: transparent;
  border-radius: rem(8);
  cursor: pointer;
  display: inline-block;
  font-size: rem(26);
  font-weight: 700;
  margin-top: rem(10);
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  @include media($screen-small) {
    font-size: rem(20);
  }

  // types of buttons
  &--red {
    border: 2px solid $light-red;
    color: $light-red;

    &:hover {
      background: $light-red;
      border-color: $light-red;
      color: $light;
    }
  }

  &--white {
    border: 2px solid $light;
    color: $light;

    &:hover {
      background: $darkish-red;
      border-color: $darkish-red;
      color: $light;
    }
  }

  &--black {
    background: $black;
    border: 2px solid $black;
    color: $pale-grey;

    &:hover {
      background: $greyish-brown;
      border-color: $greyish-brown;
      color: $pale-grey;
    }
  }
}
