.dropdown {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid $light;
  $opened-dropdown-border: 1px solid $light-red;

  $dropdown-background: $base-background-color;
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  &__container {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  &__button {
    border-radius: $base-border-radius;
    border: $dropdown-border;
    color: $light;
    cursor: pointer;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    position: relative;
    text-align: left;

    @include media($large-screen) {
      font-size: 1em;
      padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    }

    &:after {
      color: $light;
      content: '\25bc';
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: $dropdown-arrow-top-distance;
    }

    &--opened{
      @include border-bottom-radius(0);
      background: $light;
      @include border-color($light-red $light-red null $light-red);
      border-bottom: none;
      color: $warm-grey;
      &:after {
        content: '\25b2';
        color: $light-red;
      }
    }
  }

  &__menu {
    @include transition (all 0.2s ease-in-out);
    @include border-bottom-radius($base-border-radius);
    background: $dropdown-background;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    right: 0;
    text-align: left;
    top: $dropdown-distance-from-menu;
    width: 100%;
    z-index: 99999;

    &--show {
      @include border-color(null $light-red $light-red);
      border-top: none;
      display: block;
    }
  }

  &__menu-item {
    color: $dropdown-color;
    list-style: none;
    padding: $dropdown-padding / 2;

    &:hover {
      background: $light-primary;
      font-weight: bold;
    }

    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-child {
      border: none;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }


}
