#services {
  background: $pale-grey;

  .main-header {
    background: rgba(55, 50, 50, 0.9);
  }
}

.our-services {
  @include span-columns(12);
  background: url('/images/bg-top-services.jpg') no-repeat $black center center;
  background-size: cover;
  min-height: rem(200);
  overflow: hidden;
  position: relative;

  @include media($screen-small){
    padding: rem(150) 0 rem(50);
  }

  .wrapper {
    @include outer-container();
    padding-top: rem(140);
    padding-bottom: rem(75);
    text-align: center;

    @include media($screen-small) {
      padding: 0 $base-spacing;
    }
  }

  &__title {
    color: $pale-grey;
    display: block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $pale-grey;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

  }
}

.services {
  @include pad(rem(60) 0);
  @include span-columns(12);
  text-align: left;

  &__description {
    @include span-columns(5 of 12);

    @include media($screen-medium) {
      @include span-columns(12);
      text-align: center;
    }

    p {
      @include pad(rem(25) 0 0);
      line-height: rem(38);
    }
  }

  &__title {
    color: $black;
    font-family: $base-font-family;
    font-size: rem(30);
    font-weight: 300;
    line-height: rem(55);
    text-transform: uppercase;

    @include media($screen-medium) {
      text-align: center;
    }

    strong {
      color: $light-red;
    }
  }

  &__list {
    @include span-columns(6 of 12);
    float: right;

    @include media($screen-medium) {
      @include span-columns(12);
      margin-top: rem(20);
    }
  }

  &__box {
    @include span-columns(3 of 6);
    @include omega(2n);
    margin-bottom: rem(30);
    min-height: rem(220);

    @include media($screen-tiny) {
      @include span-columns(10);
      max-width: 100%;
      min-height: auto;
      text-align: center;
    }

    p {
      color: $greyish-brown;
      font-size: rem(14);
      line-height: rem(24);
    }
  }

  &__subtitle {
    color: $darkish-red;
    font-size: rem(18);
    font-family: $serifa-font-family;
    font-weight: 600;
    margin: rem(10) 0;
  }

}

// Portfolio Count
.ourwork-counter {
  @include pad(rem(60) 0);
  @include span-columns(12);
  background: url('/images/bg-counter@2x.jpg') no-repeat $black center center;
  background-size: cover;
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;

  @include media($screen-small) {
    display: none;
  }

  &__box {
    width: 20%;
    float: left;
    font-family: $base-font-family;
    text-align: center;
  }

  &__number {
    color: $pale-grey;
    display: block;
    font-size: rem(52);
    font-weight: 900;
    width: 100%;
  }

  &__name {
    color: $white-smoke;
    display: block;
    font-size: rem(18);
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;

    &:before {
      color: $pale-grey;
      content: '|';
      float: left;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

.about-services {
  @include span-columns(12);
  min-height: rem(470);
  overflow: hidden;
  position: relative;

  @include media($screen-medium) {
    min-height: rem(350);
  }

  @include media($screen-small) {
    min-height: rem(250);
  }

  &__title-line-separator {
    width: 100%;

    &::after {
      @extend %after-title-line;
      height: 4px;
      left: calc(50% - 35px);
      width: 70px;
    }
  }

  .wrapper {
    padding: rem(60) 0;

    .title-line {
      color: $black;
      font-family: $heading-font-family;
      font-size: rem(48);
      font-weight: 900;
      display: block;
      margin-bottom: 100px;
      text-align: center;
      text-transform: capitalize;
      width: 100%;
    }
  }

  &__heading {
    @include span-columns(6);
    float: left;
    margin: 0 auto;
    padding: 0 0 1rem 1rem;
    text-align: left;

    @include media($screen-medium) {
      @include span-columns(12);
      text-align: center;
    }

    p {
      color: $black;
      font-size: 18px;
      line-height: rem(38);
      margin-top: 30px;
    }

    &--not-top-spacing {
      margin-top: 0;
    }

    .btn-hire-us-about {
      margin-top: 50px;
    }

  }

  .container {
    float: right;
    margin-right: 10px;

    @include media($screen-medium) {
      clear: both;
      margin-top: 80px;
      width: 100%;
    }

    @include media($screen-tiny) {
      height: 80vw;
    }
  }

  &__subtitle {
    color: $light-primary;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(36);
    line-height: rem(28);
    margin: 0 0 rem(70);
    max-width: rem(610);

    @include media($screen-medium) {
      padding: 0 $base-spacing;
    }

    &--highlight {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__title {
    color: $black;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(36);
    line-height: rem(55);
    text-transform: uppercase;

    @include media($screen-medium) {
      font-size: rem(30);
    }

    &--red {
      color: $light-red;
      font-weight: 600;
    }
  }
}
