---
layout: site-2016-pt
title: He:labs - Construindo produtos digitais incríveis!
description: Oferecemos os melhores recursos para que você obtenha resultados! Somos um time versátil, guiado por valores de experiência do usuário.
body_id: "home"
en: /en/
redirect_from:
 - /pt/midiakit/
 - /pt/comunidade/
 - /pt/opensource/
---

{% include nav-side-bar-2016-pt.html %}

<section id="home" class="main-banner">
  <div class="main-banner__bg player" data-property='{videoURL:"https://www.youtube.com/watch?v=LpGWQ__Pc-U",containment:"self",autoPlay:true, mute:true, startAt:0, opacity:0.2, addRaster:true, showControls:false, gaTrack:false, stopMovieOnBlur:false }'>
    <div class="wrapper">
      <div class="main-banner__content">
        <h1 class="main-banner__title">
          Construindo produtos digitais incríveis!
        </h1>

        <p class="main-banner__subtitle">
          Somos um time ágil de <span id="typed" style="white-space:pre;"></span>. </br>
          Juntos, nós transformamos a sua ideia em <br/> produtos, serviços e sistemas.
        </p>

        <div id="typed-strings">
          <p><strong>coders</strong></p>
          <p><strong>designers</strong></p>
          <p><strong>pensadores</strong></p>
        </div>
      </div>
    </div>
  </div>

  <a href="#services" class="main-banner__arrow-down"><span class="animation"></span></a>
</section>

<section id="services" class="section-services">
  <div class="wrapper">
    <div class="section-services__heading">
      <h2 class="section-services__title title-line title-line--center">
        Nossos serviços
      </h2>
      <p class="section-services__subtitle">
        Oferecemos os melhores recursos para que você obtenha resultados! <br>
        Somos um time <strong>versátil</strong>, guiado por <strong>valores</strong> de <strong>experiência</strong> do <strong>usuário</strong>.

      </p>
    </div>

    <div class="section-services__box">
      <figure>
        <img src="images/icon-services-stack.svg" alt="">
      </figure>
      <h3 class="section-services__service">Desenvolvimento full stack</h3>
      <p class="section-services__description">
        Nossa equipe é <strong>flexível e trabalha de forma integrada</strong>. Dominamos diversas tecnologias e estamos prontos para formar um time que se encaixe perfeitamente no contexto do seu produto.
      </p>
    </div>

    <div class="section-services__box del-1">
      <figure>
        <img src="images/icon-services-ux.svg" alt="">
      </figure>
      <h3 class="section-services__service">UI/UX design</h3>
      <p class="section-services__description">
        Pensamos em todos os aspectos que envolvem a interação dos usuários com o seu produto e buscamos, através de <strong>pesquisa, prototipação e validação</strong>, soluções que verdadeiramente atendam às necessidades das pessoas.
      </p>
    </div>

    <div class="section-services__box del-2">
      <figure>
        <img src="images/icon-services-product.svg" alt="">
      </figure>
      <h3 class="section-services__service">Direcionamento de produto</h3>
      <p class="section-services__description">
        Além disso, disponibilizamos uma <strong>equipe multisciplinar</strong> que ajuda nas decisões estratégicas do seu produto. <strong>Sem nenhum custo adicional</strong>.
      </p>
    </div>
  </div>

  <a href="/servicos" class="btn btn--red">SAIBA MAIS</a>
</section>

<section id="portfolio" class="section-projects">
  <div class="wrapper">
    <div class="section-projects__heading">
      <h2 class="section-projects__title title-line title-line--center">
        O que temos feito
      </h2>
      <p class="section-projects__subtitle">
        Projetos inspiradores. Ideias inovadoras.
      </p>
    </div>
  </div>

  <div class="mosaic">
    <div class="mosaic__column">
       <div class="mosaic__column--one">
        <div href="/portfolio" class="mosaic__box">
          <figure>
            <a href="/portfolio/espn">
              <img src="/images/cases/espn_thumb.jpg" srcset="/images/cases/espn_thumb@2x.jpg 2x" alt="ESPN Portal" title="ESPN Portal">
            </a>
            <figcaption class="mosaic__box-caption">
              <span class="project">web</span>
              <span class="project-name">espn portal</span>
              <a class="full-case" href="/portfolio/espn">Veja mais</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="mosaic__column--two">
        <div class="mosaic__box">
          <figure>
            <a href="/portfolio/atendesimples">
              <img src="/images/cases/atendesimples_thumb.jpg" alt="Atende Simples" title="Atende Simples">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Atende simples</span>
              <a class="full-case" href="/portfolio/atendesimples">veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/portfolio/locaweb">
              <img src="/images/cases/locaweb_thumb.jpg" alt="Mobile - Locaweb" title="Mobile - Locaweb">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">mobile</span>
              <span class="project-name">Locaweb</span>
              <a class="full-case" href="/portfolio/locaweb">Veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/portfolio/pmcanvas">
              <img src="/images/cases/canvas_thumb.jpg" alt="Mobile - Canvas" title="Mobile - Canvas">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">mobile</span>
              <span class="project-name">Canvas</span>
              <a class="full-case" href="/portfolio/pmcanvas">Veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/portfolio/petroomie">
              <img src="/images/cases/petroomie_thumb.jpg" alt="Pet Roomie" title="Pet Roomie">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Pet Roomie</span>
              <a class="full-case" href="/portfolio/petroomie">Veja mais</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-brands">
  <div class="wrapper">
      <h2 class="section-brands__title">Empresas que amam trabalhar conosco</h2>
      <ul class="section-brands__list">
        <li class="section-brands__list--item">
          {% include /svg/brands-espn.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-locaweb.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-eduk.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-uol.svg %}
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-monashees.png" alt="Monashees">
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-citrix.svg %}
        </li>
      </ul>
  </div>
</section>

<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        O que você está esperando?
      </h2>
      <p class="section-waiting__subtitle">
        Vamos produzir algo espetacular juntos!
      </p>
      <a href="/contrate" class="btn btn--white">Contrate</a>
    </div>
  </div>
</section>

<section id="team" class="section-team">
  <div class="wrapper">
    <div class="section-team__heading">
      <h2 class="section-team__title title-line title-line--center">
        Nosso time
      </h2>
      <p class="section-team__subtitle">
        Os melhores desenvolvedores e designers, reunidos em times altamente produtivos!
      </p>
    </div>
  </div>

  <div class="section-team__grid">
  {% for person in site.categories.time reversed %}
    <div class="section-team__item">
      <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
      <div class="section-team__name">
        <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
