---
layout: site-2016-pt
title: Desenvolvimento ágil, UX/UI, Full Stack - Nossos serviços
description: O leque de serviços da HE:labs é imenso, partindo do direcionamento de produto, desenvolvimento ágil, full stack, UX/UI design.
body_id: "services"
en: /en/services
redirect_from:
 - /pt/magica/

---

<section class="our-services">

  <div class="wrapper">
    <div class="our-services__heading">

      <h2 class="our-services__title title-line title-line--center">
        Nossos serviços
      </h2>
      <p class="our-services__subtitle">
        Algumas das principais razões para desenvolver seu projeto com a gente.
      </p>

    </div>
  </div>
</section>

<section class="services" id="servicos">
  <div class="wrapper">
    <div class="services__description">
      <h2 class="services__title">A partir de uma única <strong>ideia</strong> <br /> novas experiências para <i>milhões de pessoas</i></h2>

      <p>Nossa abordagem multidisciplinar é focada na experiência do usuário. Empregamos todos os nossos recursos para expandir e desenvolver o seu conceito inicial com resultados a curtíssimos prazos, sempre priorizando quem são os seus clientes e o que eles esperam de um aplicativo moderno.</p>

      <p>O projeto estará sob o seu controle completo, totalmente customizado para satisfazer as suas expectativas e a de seus clientes</p>
    </div>

    <div class="services__list">
      <div class="services__box">
        {% include /svg/ic-fullstack.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento full stack</h3>
        <p>Nós recomendamos quais e quantos profissionais vão trabalhar no seu projeto, de acordo com o seu objetivo e como cada especialista pode contribuir para a experiência completa dos seus clientes. <br />
        Caso haja necessidade, o time pode ser adaptado dinamicamente a qualquer momento do processo.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-ux.svg %} {{case.time}}
        <h3 class="services__subtitle">UX/UI Design</h3>
        <p>Usando o planejamento básico definido por você e nosso time, nós sistematicamente alcançamos soluções através de pesquisa, prototipação e validação para atender as demandas da vida real dos seus clientes.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-product.svg %} {{case.time}}
        <h3 class="services__subtitle">Direcionamento do produto</h3>
        <p>Oferecemos a você um time multidisciplinar para definir precisamente as decisões estratégicas que definirão o fluxo do uso do seu produto sem custos adicionais.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-agile.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento ágil</h3>
        <p>Nosso processo de desenvolvimento, baseado no eXtreme programming, valoriza a colaboração com o cliente e prioriza a entrega de software em funcionamento ao final de cada semana.</p>
      </div>
    </div>
  </div>
</section>

<section class="ourwork-counter">

    <div class="wrapper">

      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">65</span>
        <span class="ourwork-counter__name">profissionais</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">180</span>
        <span class="ourwork-counter__name">projetos</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count plus">2000</span>
        <span class="ourwork-counter__name">iteraçoes</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">93600</span>
        <span class="ourwork-counter__name">xícaras de café</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">2971</span>
        <span class="ourwork-counter__name">fatias de pizza</span>
      </div>

    </div>
</section>


<section class="about-services" id="metodologia">
  <div class="wrapper">
    <h2 class="about-services__title title-line title-line--center">
      Metodologia
    </h2>
    <div class="about-services__heading">
      <h2 class="about-services__title">
        Trabalhamos em ciclos <br> iterativos e entregas semanais
      </h2>

      <p>Montamos o melhor time de acordo com as necessidades específicas do seu projeto. O número de pessoas no time pode ser incrementado ou reduzido a qualquer momento.</p>

      <p>As iterações semanais serão repetidas enquanto o projeto durar.</p>

      <!--a href="/contrate" class="btn-hire-us-about btn btn--black">Contrate</a-->
    </div>
    <div class="container">
      {% include about-us-circle-site-2016-pt.html %}
    </div>
  </div>
</section>


<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        O que você está esperando?
      </h2>
      <p class="section-waiting__subtitle">
        Vamos produzir algo espetacular juntos!
      </p>
      <a href="/contrate/" class="btn btn--white">Contrate</a>
    </div>
  </div>
</section>
