---
layout: site-2016-pt
title: Desenvolvimento ágil, UX/UI, Full Stack - nossos serviços
description: O leque de serviços da HE:labs é imenso, partindo do direcionamento de produto, desenvolvimento ágil, full stack, UX/UI design.
body_id: "services"
en: /en/services
redirect_from:
 - /pt/magica/

---

<section class="our-services">

  <div class="wrapper">
    <div class="our-services__heading">

      <h2 class="our-services__title title-line title-line--center">
        Nossos serviços
      </h2>
      <p class="our-services__subtitle">
        Algumas das principais razões para trabalhar conosco.
      </p>

    </div>
  </div>
</section>

<section class="services">
  <div class="wrapper">
    <div class="services__description">
      <h2 class="services__title">Da ideia <strong>para produto</strong> <br /> do zero a <i>milhões de usuários!</i></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>

    <div class="services__list">
      <div class="services__box">
        {% include /svg/ic-fullstack.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento full stack</h3>
        <p>Nossa equipe é flexível e trabalha de forma integrada. Dominamos diversas tecnologias e estamos prontos para formar um time que se encaixe perfeitamente no contexto do seu produto.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-ux.svg %} {{case.time}}
        <h3 class="services__subtitle">UX/UI design</h3>
        <p>Pensamos em todos os aspectos que envolvem a interação dos usuários com o seu produto e buscamos, através de pesquisa, prototipação e validação, soluções que verdadeiramente atendam às necessidades das pessoas.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-product.svg %} {{case.time}}
        <h3 class="services__subtitle">Direcionamento de produto</h3>
        <p>Além disso, disponibilizamos uma equipe multisciplinar que ajuda nas decisões estratégicas do seu produto. Sem nenhum custo adicional.</p>
      </div>

      <div class="services__box">
        {% include /svg/ic-agile.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento ágil</h3>
        <p>Trabalhamos em iterações de uma semana, seguindo a nossa metodologia baseada no eXtreme Programming e uma equipe de especialistas excluisva para o seu projeto.</p>
      </div>
    </div>
  </div>
</section>

<section class="ourwork-counter">

    <div class="wrapper">

      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">300</span>
        <span class="ourwork-counter__name">clientes felizes</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">6367</span>
        <span class="ourwork-counter__name">fatias de pizza</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">985</span>
        <span class="ourwork-counter__name">arquivos html</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">100234</span>
        <span class="ourwork-counter__name">linhas de código</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">456</span>
        <span class="ourwork-counter__name">arquivos sketch</span>
      </div>

    </div>
</section>


<section class="about-services" id="metodologia">
  <div class="wrapper">
    <h2 class="about-services__title title-line title-line--center">
      Metodologia
    </h2>
    <div class="about-services__heading">
      <h2 class="about-services__title">
        Em <span class="about-services__title--red">apenas 5 dias</span> você pode validar o seu produto
      </h2>

      <p>
        Detalhamos sua necessidade, planejamos o projeto e entregamos um app web ou mobile pronto para ser usado ao final de uma semana de trabalho (web) ou duas (mobile), com investimento fixo.
      </p>

      <a href="/contrate" class="btn-hire-us-about btn btn--black">Contrate</a>
    </div>
    <div class="container">
      {% include about-us-circle-site-2016-pt.html %}
    </div>
  </div>
</section>


<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        O que você está esperando?
      </h2>
      <p class="section-waiting__subtitle">
        Vamos produzir algo espetacular juntos!
      </p>
      <a href="/contrate" class="btn btn--white">Contrate</a>
    </div>
  </div>
</section>
