---
layout: site-2016-pt
title: Nossos Serviços | HE:labs
description: nossos serviços HE:labs
body_id: "services"
en: /en/services
---

<section class="our-services">

  <div class="wrapper">
    <div class="our-services__heading">

      <h2 class="our-services__title title-line title-line--center">
        Nossos Serviços
      </h2>
      <p class="our-services__subtitle">
        Algumas das principais razões para trabalhar conosco.
      </p>

    </div>
  </div>

</section>

<section class="services">
  <div class="wrapper">
    <div class="description">
      <h2 class="services__title">Da ideia <strong>para produto</strong> <br /> do zero a <i>milhões de usuários!</i></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>

    <div class="services__list">
      <div class="services__box">
        {% include /svg/icon-time-development.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento Full Stack</h3>
        <p>Nossa equipe é flexível e trabalha de forma integrada. Dominamos diversas tecnologias e estamos prontos para formar um time que se encaixe perfeitamente no contexto do seu produto.</p>
      </div>

      <div class="services__box">
        {% include /svg/icon-time-development.svg %} {{case.time}}
        <h3 class="services__subtitle">UX/UI Design</h3>
        <p>Pensamos em todos os aspectos que envolvem a interação dos usuários com o seu produto e buscamos, através de pesquisa, prototipação e validação, soluções que verdadeiramente atendam às necessidades das pessoas.</p>
      </div>

      <div class="services__box">
        {% include /svg/icon-time-development.svg %} {{case.time}}
        <h3 class="services__subtitle">Direcionamento de Produto</h3>
        <p>Além disso, disponibilizamos uma equipe multisciplinar que ajuda nas decisões estratégicas do seu produto. Sem nenhum custo adicional.</p>
      </div>

      <div class="services__box">
        {% include /svg/icon-time-development.svg %} {{case.time}}
        <h3 class="services__subtitle">Desenvolvimento Ágil</h3>
        <p>Trabalhamos em iterações de uma semana, seguindo a nossa metodologia baseada no eXtreme Programming e uma equipe de especialistas excluisva para o seu projeto.</p>
      </div>
    </div>
  </div>
</section>

<section class="ourwork-counter">

    <div class="wrapper">

      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">300</span>
        <span class="ourwork-counter__name">clientes felizes</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">1200</span>
        <span class="ourwork-counter__name">projetos ativos</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">4389</span>
        <span class="ourwork-counter__name">xícaras de café</span>
      </div>
      <div class="ourwork-counter__box">
        <span class="ourwork-counter__number count">33189</span>
        <span class="ourwork-counter__name">Horas de desenvolvimento</span>
      </div>

    </div>
    <!-- wrapper -->
  <div class="ourwork__background parallax"></div>
</section>


<section class="about-us">
  <div class="about-us__bg">
    <div class="wrapper">
      <div class="about-us__heading">
        <h2 class="about-us__title">
          Em <span class="about-us__title--red">apenas 5 dias</span> você pode validar o seu produto
        </h2>

        <p>
          Detalhamos sua necessidade, planejamos o projeto e entregamos um app web ou mobile pronto para ser usado ao final de uma semana de trabalho (web) ou duas (mobile), com investimento fixo.
        </p>

        <a href="/contrate" class="btn-hire-us-about">Contrate</a>
      </div>
      <div class="container">
        {% include about-us-circle-site-2016-pt.html %}
      </div>
    </div>
  </div>
</section>


<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        O que você está esperando?
      </h2>
      <p class="section-waiting__subtitle">
        Vamos produzir algo espetacular juntos!
      </p>
      <a href="/contrate" class="btn btn--white">Contrate</a>
    </div>
  </div>
</section>
