// *************************************
//
// hire-us/layout
//
// *************************************
.page-hire-us {
  @include background(url('/images/bg-contact-1.png') no-repeat center center fixed);
  //background: url('/images/bg-contact-1.png') no-repeat center center fixed;
  //background-attachment: fixed;
  background-size: cover;
}

.hire-us {
  min-height: rem(280);
  overflow: hidden;
  position: relative;

  &__title-line-separator {
    width: 100%;

    &::after {
      @extend %after-title-line;
      height: 12px;
      left: calc(50% - 35px);
      width: 70px;
    }
  }

  &__bg {
    @include span-columns(12);
    margin-bottom: rem(60);
    min-height: rem(280);
  }

  &__heading {
    @include span-columns(12);
    clear: both;
    margin: rem(110) auto 0;
    text-align: center;

    h2::after {
      top: calc(120%);
    }

    &:not(:first-child) {
      padding-top: 40px;
    }

    &--not-top-spacing {
      margin-top: 0;
    }

  }

  &__subtitle {
    color: $light-primary;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 18px;
    line-height: rem(28);
    margin: rem(30) 0 rem(42);
    max-width: rem(610);

    @include media($screen-medium) {
      padding: 0 $base-spacing;
    }
  }

  &__title {
    @include fill-parent;
    color: $light-red;
    display: inline-block;
    font-size: rem(48);

    @include media($screen-medium) {
      font-size: rem(30);
    }
  }

  .modal {
    //Modal
    &__fade-screen {
      padding-top: 1em;
    }

    &__inner {
      padding: rem(50);

      @include media($screen-tiny){
        padding: 0 0.5em 1em;
      }
    }

    .hire-us {

      &__heading:not(:first-child) {
        padding-top: rem(20);

        @include media($screen-tiny){
          padding-top: rem(44);
        }
      }

      &__title {
        font-size: rem(40);
      }

      &__subtitle {
        font-size: rem(15);
        margin-bottom: rem(20);
      }
    }

    .he-form {

      &__group {
        margin-top: rem(20);

      }

      &__group:nth-child(2),
      &__group:nth-child(4),
      &__group:nth-child(6) {
        margin-right: 0;
        float: right;
        width: 48%;

        @include media($screen-tiny) {
          width: 100%;
        }
      }

      &__group:nth-child(1),
      &__group:nth-child(3),
      &__group:nth-child(5) {
        float: left;
        width: 48%;
      }

      &__small-text {
        font-size: rem(11);
      }

      &__textarea {
          min-height: rem(64);
      }

      @include media($screen-tiny) {
        width: 100%;

        button {
          font-size: 1.5em;
        }
      }
    }
  }
}

.positions {
  padding-top: rem(120);

  &__title {
    color: $darkish-red;
    display: inline-block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $base-font-color;
    font-size: rem(26);
    line-height: rem(40);
    padding: rem(30) 0;
  }
}

.section-grid {
  @include span-columns(12);
  background-color: $light-background;
  text-align: center;

  &__bg {
    @include background(url('/images/bg-2-contact.png') no-repeat bottom center);
    background-size: 100%;
    padding: rem(80) 0 rem(70);
    width: 100%;

    @include media($screen-tiny) {
      padding-top: 0;
    }
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(60);
  }

  &__small-title {
    color: $darkish-red;
    font-size: rem(28);
    line-height: rem(45);
    margin: 0;

    @include media($screen-tiny) {
      font-size: rem(18);
    }
  }

  &__description {
    color: $greyish-brown;
    font-size: rem(18);
    line-height: rem(35);
    margin: 0 auto;
    max-width: rem(350);
    text-align: center;
  }

  &__block {
    @include span-columns(6);
    margin: 0;

    @include media($screen-tiny) {
      @include span-columns(12 of 12);

      &:not(:last-child) {
        padding-top: rem(80);
      }
    }

    &--wide {
      @include span-columns(12);
      clear: both;
    }
  }
}
