// *************************************
//
// about-us/layout
//
// *************************************

@import 'circle';

.about-us {
  @include span-columns(12);
  min-height: rem(470);
  overflow: hidden;
  position: relative;

  @include media($screen-medium) {
    min-height: rem(350);
  }

  @include media($screen-small) {
    min-height: rem(250);
  }

  &__title-line-separator {
    width: 100%;

    &::after {
      @extend %after-title-line;
      height: 4px;
      left: calc(50% - 35px);
      width: 70px;
    }
  }

  &__background {
    background: url('/images/bg-contact-1.png') no-repeat $black center center;
    background-size: cover;
    height: 110%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .wrapper {
    padding-top: rem(50);
    margin-top: 115px;
  }

  &__heading {
    @include span-columns(6);
    float: left;
    margin: 0 auto;
    padding: 1rem 4rem;
    text-align: center;

    @include media($screen-medium) {
      @include span-columns(12);
    }

    p {
      color: $light-primary;
      font-size: 22px;
      margin-top: 30px;
    }

    &--not-top-spacing {
      margin-top: 0;
    }

    .btn-hire-us-about {
      margin-top: 50px;
    }

  }

  .container {
    float: right;

    @include media($screen-medium) {
      clear: both;
      margin-top: 80px;
      width: 100%;
    }
  }

  &__subtitle {
    color: $light-primary;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(36);
    line-height: rem(28);
    margin: 0 0 rem(70);
    max-width: rem(610);

    @include media($screen-medium) {
      padding: 0 $base-spacing;
    }

    &--highlight {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__title {
    color: $black;
    display: inline-block;
    font-size: rem(48);

    @include media($screen-medium) {
      font-size: rem(30);
    }

    &--red {
      color: $light-red;
      text-transform: uppercase;
    }
  }
}

.mission {
  &__title {
    color: $black;
    display: block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }

    &--small {
      font-size: rem(40);
    }
  }

  &__subtitle {
    color: $base-font-color;
    font-size: rem(18);
    padding: rem(30) rem(180) 0;

    @include media($screen-medium) {
      padding: rem(30) $small-spacing 0;
    }

    &--highlight {
      color: $light-red;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.mission-grid {
  @include span-columns(12);
  background-color: $light-background;
  margin-right: 0;
  padding: rem(50) rem(70) rem(70);
  text-align: center;
  width: 100%;

  @include media($screen-big) {
    padding: 0;
  }

  &__block {
    @include span-columns(6);
    height: rem(160);
    margin-right: 0;
    text-align: left;
    margin-bottom: rem(34);

    &:last-child {
      clear: none !important;
    }

    @include media($screen-medium) {
      @include span-columns(6 of 12);
      height: auto;
      margin: 0;
      @include omega(3n);
    }

    @include media($screen-small) {
      @include span-columns(12);
      height: auto;
      margin-bottom: rem(34);
      text-align: center;
      padding: $base-spacing;
    }

    &--wide {
      @include span-columns(12);
      clear: both;
      height: auto;
      margin-bottom: rem(40);
      text-align: center;
    }
  }

  &__image {
    float: left;
    margin-right: rem(20);
    max-width: rem(80);

    @include media($screen-medium) {
      float: none;
      margin: 0 auto;
    }
  }

  &__small-title {
    color: $darkish-red;
    font-size: rem(20);
    margin: 0 0 rem(10);

    @include media($screen-medium) {
      text-align: center;
      font-size: rem(18);
      padding-top: rem(20);
    }
  }

  &__description {
    color: $greyish-brown;
    font-size: rem(14);
    line-height: rem(20);
    margin-left: rem(100);
    text-align: left;

    @include media($screen-medium) {
      font-size: rem(13);
      line-height: rem(18);
      margin: 0 auto;
      text-align: center;
    }
  }

  &__block:nth-child(2),
  &__block:nth-child(4),
  &__block:nth-child(6) {
    p {
      padding-right: rem(50);

      @include media($screen-medium) {
        padding-right: 0;
      }
    }

    @include media($screen-medium) {
      padding: $base-spacing;
    }
  }

  &__block:nth-child(3),
  &__block:nth-child(5),
  &__block:nth-child(7) {
    padding-left: rem(50);

    @include media($screen-medium) {
      padding-left: 0;
    }

    @include media($screen-medium) {
      padding: $base-spacing;
    }
  }
}

.highlight-grid {
  @include span-columns(12);
  background-color: $darkish-red;

  &__block {
    @include span-columns(12);
    min-height: rem(360);
    padding: rem(74) 0;
    text-align: center;

    @include media($screen-small) {
      @include span-columns(12);
      min-height: rem(100);
      padding: rem(50) rem(10);
    }

    &--light {
      background-color: $light-red;
    }
  }

  &__title {
    color: $light;
    display: inline-block;
    font-size: rem(47);

    @include media($screen-small) {
      font-size: rem(20);
    }

    &--dark {
      color: $black;
    }
  }

  &__subtitle {
    color: $light;
    font-size: rem(34);
    padding-bottom: rem(44);

    @include media($screen-small) {
      font-size: rem(15);
      padding-bottom: rem(16);
    }
  }
}

.section-team {
  @include pad(10 0);
  @include span-columns(12);
  background: url('/images/bg-image_portfolio.jpg') no-repeat $greyish-brown top center;
  background-size: cover;


  &__heading {
    display: block;
    margin: 0 auto rem(10);
    max-width: rem(870);
    text-align: center;
    width: 100%;
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $light-primary;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(20) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }
  &__grid {
    float: left;
    margin: 0 auto;
    max-width: 100%;
    // max-width: rem(1400);
  }

  &__item {
    float: left;
    overflow: hidden;
    position: relative;
    width: 10%;
    &::after {
      background: rgba($black, 0.4) none repeat scroll 0 0;
      content: "";
      display: block;
      height: rem(600);
      left: 0;
      position: absolute;
      width: 100%;
      transition: all .2s;
    }
    // &:hover:after {
    //   background: rgba($black, 0.0) none repeat scroll 0 0;
    // }

    @include media($screen-medium) {
      width: 20%;
    }

    @include media($screen-small) {
      width: 50%;
    }

    img {
      // @include filter(grayscale(100%));
      @include size(100% 99%);
      float: left;
      //opacity: 1;
      position: relative;
      transition: all .5s;
      z-index: 1;
    }

    &:hover {
      img {
        // @include filter(grayscale(0));
        //opacity: 1;
      }

      .section-team__name{
        height: 100%;
        z-index: 2;
      }
    }
  }

  &__name {
    //padding: 5px;
    @include position(absolute, null null 0 0);
    @include size(100% 100%);
    @include transition(all .1s);
    background: $light-red;
    color: $light;
    font-family: $base-font-family;
    font-size: rem(20);
    text-align: center;
    z-index: -1;

    span {
      @include center(100%);
    }

    small {
      font-size: rem(14);
    }
  }


}

