---
layout: site-2016-pt
title: HE:labs - Construindo produtos digitais incríveis!
description: Oferecemos os melhores recursos para que você obtenha resultados! Somos um time versátil, guiado por valores de experiência do usuário.
body_id: "home"
en: /us/
redirect_from:
 - /
 - /pt/midiakit/
 - /pt/comunidade/
 - /pt/opensource/
---

{% include nav-side-bar-2016-pt.html %}

<section id="home" class="main-banner">
  <div class="main-banner__bg player" data-property='{videoURL:"https://www.youtube.com/watch?v=LpGWQ__Pc-U",containment:"self",autoPlay:true, mute:true, startAt:0, opacity:0.2, addRaster:true, showControls:false, gaTrack:false, stopMovieOnBlur:false}'>
    <div class="wrapper">
      <div class="main-banner__content">
        <h1 class="main-banner__title">
          Construindo produtos digitais incríveis!
        </h1>

        <p class="main-banner__subtitle">
          Somos um time ágil de <span id="typed" style="white-space:pre;"></span>. <br />
          Juntos, transformamos sua ideia em <br/> produtos digitais extraordinários.
        </p>

        <div id="typed-strings">
          <p><strong>coders</strong></p>
          <p><strong>designers</strong></p>
          <p><strong>pensadores</strong></p>
        </div>
      </div>
    </div>
  </div>

  <a href="#services" class="main-banner__arrow-down"></a>
</section>

<section id="services" class="section-services">
  <div class="wrapper">
    <div class="section-services__heading">
      <h2 class="section-services__title title-line title-line--center">
        Nossos serviços
      </h2>
      <p class="section-services__subtitle">
        Não medimos esforços para que você obtenha os melhores resultados! <br>
        Somos um time <strong>versátil</strong>, guiado por <strong>valores</strong> de <strong>experiência</strong> do <strong>usuário</strong>.

      </p>
    </div>

    <div class="section-services__box">
      <figure>
        <img src="/images/icon-services-stack.svg" alt="">
      </figure>
      <h3 class="section-services__service">Desenvolvimento full stack</h3>
      <p class="section-services__description">
        Nossa equipe é <strong>flexível e trabalha de forma integrada</strong>. Dominamos diversas tecnologias e estamos prontos para formar um time que se encaixe perfeitamente no contexto do seu produto.
      </p>
    </div>

    <div class="section-services__box del-1">
      <figure>
        <img src="/images/icon-services-ux.svg" alt="">
      </figure>
      <h3 class="section-services__service">UI/UX design</h3>
      <p class="section-services__description">
        Pensamos em todos os aspectos que envolvem a interação dos usuários com o seu produto e buscamos, através de <strong>pesquisa, prototipação e validação</strong>, soluções que verdadeiramente atendam às necessidades das pessoas.
      </p>
    </div>

    <div class="section-services__box del-2">
      <figure>
        <img src="/images/icon-services-product.svg" alt="">
      </figure>
      <h3 class="section-services__service">Direcionamento de produto</h3>
      <p class="section-services__description">
        Além disso, disponibilizamos uma <strong>equipe multidisciplinar</strong> que ajuda nas decisões estratégicas do seu produto. <strong>Sem nenhum custo adicional</strong>.
      </p>
    </div>
  </div>

  <a href="/br/servicos/" class="btn btn--red">SAIBA MAIS</a>
</section>

<section id="portfolio" class="section-projects">
  <div class="wrapper">
    <div class="section-projects__heading">
      <h2 class="section-projects__title title-line title-line--center">
        O que temos feito
      </h2>
      <p class="section-projects__subtitle">
        Projetos inspiradores. Ideias inovadoras.
      </p>
    </div>
  </div>

  <div class="mosaic">
    <div class="mosaic__column">
       <div class="mosaic__column--one">
        <div href="/br/portfolio/" class="mosaic__box">
          <figure>
            <a href="/br/portfolio/hrblock/" title="H&R Block">
              <img src="/images/cases/thumb_hrblock.jpg" alt="H&R Block" title="H&R Block">
            </a>
            <figcaption class="mosaic__box-caption">
              <span class="project">web</span>
              <span class="project-name">H&R Block</span>
              <a class="full-case" href="/br/portfolio/hrblock/">Veja mais</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="mosaic__column--two">
        <div class="mosaic__box">
          <figure>
            <a href="/br/portfolio/lumiar/" title="Lumiar">
              <img src="/images/cases/thumb_lumiar--small.jpg" alt="Lumiar" title="Lumiar">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Lumiar</span>
              <a class="full-case" href="/br/portfolio/lumiar/">Veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/br/portfolio/eduk/" title="EduK">
              <img src="/images/cases/thumb_eduk--small.jpg" alt="EduK" title="EduK">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">EduK</span>
              <a class="full-case" href="/br/portfolio/eduk/">Veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/br/portfolio/bonuz/" title="Bonuz">
              <img src="/images/cases/thumb_bonuz--small.jpg" alt="Bonuz" title="Bonuz">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web e mobile</span>
              <span class="project-name">Bonuz</span>
              <a class="full-case" href="/br/portfolio/bonuz/">Veja mais</a>
            </figcaption>
          </figure>
        </div>
        <div class="mosaic__box">
          <figure>
            <a href="/br/portfolio/pagnet/" title="Pagnet">
              <img src="/images/cases/thumb_pagnet--small.jpg" alt="Pagnet" title="Pagnet">
            </a>
            <figcaption class="mosaic__box-caption mosaic__box-caption--small">
              <span class="project">web</span>
              <span class="project-name">Pagnet</span>
              <a class="full-case" href="/br/portfolio/pagnet/">Veja mais</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-brands">
  <div class="wrapper">
      <h2 class="section-brands__title">Empresas que amam trabalhar conosco</h2>
      <ul class="section-brands__list">
        <li class="section-brands__list--item">
          {% include /svg/brands-espn.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-locaweb.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-eduk.svg %}
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-uol.svg %}
        </li>
        <li class="section-brands__list--item">
          <img src="/images/brands-monashees.png" alt="Monashees">
        </li>
        <li class="section-brands__list--item">
          {% include /svg/brands-citrix.svg %}
        </li>
      </ul>
  </div>
</section>

<section class="section-waiting">
  <div class="wrapper">
    <div class="section-waiting__heading">
      <h2 class="section-waiting__title">
        O que você está esperando?
      </h2>
      <p class="section-waiting__subtitle">
        Vamos produzir algo espetacular juntos!
      </p>
      <a href="/br/contrate/" class="btn btn--white">Contrate</a>
    </div>
  </div>
</section>

<section id="team" class="section-team">
  <div class="wrapper">
    <div class="section-team__heading">
      <h2 class="section-team__title title-line title-line--center">
        Nosso time
      </h2>
      <p class="section-team__subtitle">
        Os melhores desenvolvedores e designers, reunidos em times altamente produtivos!
      </p>
    </div>
  </div>

{% include team-members.html %}

</section>
