<div id="steps" class="steps">
  <div id="step-1" class="step-content"><img src="/images/2_ic_metho_monday.svg" onerror="this.onerror=null; this.src='/2_metho_monday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Monday
      </h2>
      You tell us all about your product's concept and we work together to decide which features will be online and tested by the end of the week.
    </div>
  </div>
  <div id="step-2" class="step-content"><img src="/images/3_ic_metho_tuesday.svg" onerror="this.onerror=null; this.src='/3_metho_tuesday.png'" class="steps__icon" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Tuesday
      </h2>
      That's when the hard work begins. The team will design and develop the features that you prioritized, with special care for its real life context.
    </div>
  </div>
  <div id="step-3" class="step-content"><img src="/images/4_ic_metho_wednesday.svg" onerror="this.onerror=null; this.src='/4_metho_wednesday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Wednesday
      </h2>
      Crunch time! We will be available for emergency calls, of course ;)

    </div>
  </div>
  <div id="step-4" class="step-content"><img src="/images/5_ic_metho_thursday.svg" onerror="this.onerror=null; this.src='/5_metho_thursday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Thursday
      </h2>
      We deliver a test environment so you can check our work and validate the features. Your feedback will not only by expected, but actively sought out.
    </div>
  </div>
  <div id="step-5" class="step-content"><img src="/images/6_ic_metho_friday.svg" onerror="this.onerror=null; this.src='/6_metho_friday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Friday
      </h2>
      Today is the final delivery of the week and the development of some last features. The team will run several tests to ensure that your app is ready to go public. Next week, all over again. ;)
    </div>
  </div>
  <div id="steps-menu" class="step-1">
    <ul>
      <li class="is-active"><a id="link1" href="#step-1">1</a></li>
      <li><a id="link2" href="#step-2">2</a></li>
      <li><a id="link3" href="#step-3">3</a></li>
      <li><a id="link4" href="#step-4">4</a></li>
      <li><a id="link5" href="#step-5">5</a></li>
    </ul>
  </div>
</div>
