<div id="steps" class="steps">
  <div id="step-1" class="step-content"><img src="/images/01-monday.svg" onerror="this.onerror=null; this.src='/2_metho_monday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Segunda
      </h2>
      Levantamos as necessidades que o produto visa atender, definimos as tarefas e priorizamos as funcionalidades a serem entregues e testadas no final da semana.
    </div>
  </div>
  <div id="step-2" class="step-content"><img src="/images/02-tuesday.svg" onerror="this.onerror=null; this.src='/3_metho_tuesday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Terça
      </h2>
      O time entra de cabeça no design e desenvolvimento das funcionalidades priorizadas com o cliente.
    </div>
  </div>
  <div id="step-3" class="step-content"><img src="/images/03-wednesday.svg" onerror="this.onerror=null; this.src='/4_metho_wednesday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Quarta
      </h2>
      A produção pesada continua, mas o contato com o cliente segue sendo direto e constante.

    </div>
  </div>
  <div id="step-4" class="step-content"><img src="/images/04-thursday.svg" onerror="this.onerror=null; this.src='/5_metho_thursday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Quinta
      </h2>
      Um ambiente de testes é disponibilizado para que o cliente possa avaliar o trabalho realizado nos dois dias de produção pesada.
    </div>
  </div>
  <div id="step-5" class="step-content"><img src="/images/05-friday.svg" onerror="this.onerror=null; this.src='/6_metho_friday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Sexta
      </h2>
      Todas as tarefas priorizadas no início da semana são finalizadas e testadas. Ao final do dia, um roteiro de testes é fornecido ao cliente.O feedback gerado através dos testes servirá de base para o novo ciclo de desenvolvimento.
    </div>
  </div>
  <div id="steps-menu" class="step-1">
    <ul>
      <li class="is-active"><a id="link1" href="#step-1">1</a></li>
      <li><a id="link2" href="#step-2">2</a></li>
      <li><a id="link3" href="#step-3">3</a></li>
      <li><a id="link4" href="#step-4">4</a></li>
      <li><a id="link5" href="#step-5">5</a></li>
    </ul>
  </div>
</div>
