<div id="steps" class="steps">
  <div id="step-1" class="step-content"><img src="/images/2_ic_metho_monday.svg" onerror="this.onerror=null; this.src='/2_metho_monday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Segunda
      </h2>
      Você nos passa tudo sobre o conceito do seu produto e trabalhamos juntos para decidir que funcionalidades estarão online e testadas ao fim da semana.
    </div>
  </div>
  <div id="step-2" class="step-content"><img src="/images/3_ic_metho_tuesday.svg" onerror="this.onerror=null; this.src='/3_metho_tuesday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Terça
      </h2>
      É aí que começa o trabalho duro. O time vai fazer o design e desenvolvimento das funcionalidades que você priorizou.
    </div>
  </div>
  <div id="step-3" class="step-content"><img src="/images/4_ic_metho_wednesday.svg" onerror="this.onerror=null; this.src='/4_metho_wednesday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Quarta
      </h2>
      Hora do crunch! Nós estaremos disponíveis para chamadas de emergência, é claro ;)
    </div>
  </div>
  <div id="step-4" class="step-content"><img src="/images/5_ic_metho_thursday.svg" onerror="this.onerror=null; this.src='/5_metho_thursday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Quinta
      </h2>
      Nós entregamos um ambiente de testes para que você possa verificar nosso trabalho e validar as funcionalidades. O seu feedback não será apenas esperado, mas ativamente solicitado.
    </div>
  </div>
  <div id="step-5" class="step-content"><img src="/images/6_ic_metho_friday.svg" onerror="this.onerror=null; this.src='/6_metho_friday.png'" class="steps__icon" />
    <div class="steps__description">
      <h2 class="mission__title mission__title--small">
        Sexta
      </h2>
      Todas as tarefas priorizadas no início da semana são finalizadas e testadas. Ao final do dia, você receberá um roteiro de testes para validar o resultado. O feedback gerado através dos testes servirá de base para o novo ciclo de desenvolvimento.
    </div>
  </div>
  <div id="steps-menu" class="step-1">
    <ul>
      <li class="is-active"><a id="link1" href="#step-1">1</a></li>
      <li><a id="link2" href="#step-2">2</a></li>
      <li><a id="link3" href="#step-3">3</a></li>
      <li><a id="link4" href="#step-4">4</a></li>
      <li><a id="link5" href="#step-5">5</a></li>
    </ul>
  </div>
</div>
