<footer class="main-footer">


  <section class="main-footer-links">

    <div class="wrapper">

      <div class="main-footer-links__col1">

        <span class="main-footer-links__title">Quem somos</span>
        <p class="main-footer-links__description">
          Somos um time de designers e desenvolvedores ágeis, e nós podemos transformar a sua ideia em um excelente produto digital! <br>
          <strong>Vamos fazer algo excepcional juntos.</strong>
        </p>
        <a href="/contrate/" class="btn btn--red" title="Fale conosco">Fale Conosco</a>

      </div>

      <div class="main-footer-links__col2">


        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/portfolio/" title="Portfólio HE:labs" >Portfólio</a></span>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/servicos/" title="Serviços HE:labs">Serviços</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/servicos/">Nossos Serviços</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/servicos#metodologia" class="scroll">Metodologia</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/sobre-nos/" title="A Empresa HE:labs">A Empresa</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/sobre-nos#missao-visao">Missão e Visão</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/sobre-nos#valores" class="scroll">Valores</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/sobre-nos#time" class="scroll">Nosso time</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/contrate/" title="Contato HE:labs" onclick="ga('send','event','hire-us-footer-PT','Click','',1,{'nonInteraction': true});">Contato</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/contrate#contratar" class="scroll">Quero contratar</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/contrate#fale-conosco" class="scroll">Fale conosco</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="http://journal.helabs.com/" target="_blank">Blog</a></span>

        </div>

      </div>

    </div>

  </section>



  <section class="from-social">
    <div class="wrapper">

      <!--nav class="footer-nav-mobile">
        <ul>


          <li class="footer-nav-mobile__item"><a href="/portfolio/" title="Portfolio HE:labs">Portfolio</a></li>
          <li class="footer-nav-mobile__item"><a href="/servicos/" title="Serviços HE:labs">Serviços</a></li>
          <li class="footer-nav-mobile__item"><a href="/sobre-nos/" title="Spbre a HE:labs">A empresa</a></li>
          <li class="footer-nav-mobile__item"><a href="http://journal.helabs.com/" target="_blank" title="Blog">blog</a></li>
          <li class="footer-nav-mobile__item"><a href="/contrate/" title="Contrate a HE:labs" onclick="ga('send','event','hire-us-footer-PT','Click','',1,{'nonInteraction': true});">Contrate</a></li>
        </ul>
      </nav-->

      <div class="section-footer-from__social">
        <p>© 2010/{{ site.time | date: '%Y' }} | Feito com ❤ na HE:labs, uma empresa inovadora, especialista em desenvolvimento de software web e mobile</p>

        {% include footer-icon-social.html %}

      </div>
    </div>
  </section>

</footer>

{% include scripts.html %}
{% include google-search-social-profiles.html %}

</body>
</html>
