<ul class="footer-social">
  <li>
    <a target="_blank" title="Github" href="https://github.com/Helabs">
      {% include /svg/github.svg %}
    </a>
  </li>
  <li>
    <a target="_blank" title="Linkedin" href="https://www.linkedin.com/company/helabs">
      {% include /svg/linkedin.svg %}
    </a>
  </li>
  <li>
    <a target="_blank" title="Instagram" href="https://www.instagram.com/he.labs/">
      {% include /svg/instagram.svg %}
    </a>
  </li>
  <li>
    <a target="_blank" title="Facebook" href="https://www.facebook.com/helabs">
      {% include /svg/facebook.svg %}
    </a>
  </li>
  <li>
    <a target="_blank" title="Twitter" href="https://twitter.com/helabs">
      {% include /svg/twitter.svg %}
    </a>
  </li>
</ul>
