<footer class="main-footer">


  <section class="main-footer-links">

    <div class="wrapper">

      <div class="main-footer-links__col1">

        <span class="main-footer-links__title">Who we are</span>
        <p class="main-footer-links__description">
          We are a team of agile designers and developers, and we can turn your idea into a great digital product! <br>
          <strong>Let's do something special together.</strong>
        </p>
        <a href="/us/hire-us/" class="btn btn--red" title="Talk to us">Talk to us</a>

      </div>

      <div class="main-footer-links__col2">


        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/us/our-work/" title="Portfolio HE:labs">Portfolio</a></span>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/us/our-services/" title="Our Services HE:labs">Services</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/us/our-services/">Our Services</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/us/our-services#methodology" class="scroll">Methodology</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/us/about-us/" title="About us HE:labs">About Us</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/us/about-us/" class="scroll">Mission and Vision</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/us/about-us#values" class="scroll">Values</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/us/about-us#team" class="scroll">Our team</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/us/hire-us/" title="Hire us HE:labs" data-no-instant onclick="ga('send','event','hire-us-footer-PT','Click','',1,{'nonInteraction': true});">Contact</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/us/hire-us/" class="scroll">I want to hire</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/us/hire-us#talk-to-us" class="scroll">Talk to us</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="http://journal.helabs.com/" target="_blank">Blog</a></span>

        </div>

      </div>

    </div>

  </section>



  <section class="from-social">
    <div class="wrapper">

      <!--nav class="footer-nav-mobile">
        <ul>


          <li class="footer-nav-mobile__item"><a href="/br/portfolio/" title="Portfolio HE:labs">Portfolio</a></li>
          <li class="footer-nav-mobile__item"><a href="/br/portfolio
/br/portfolio
/br/br/portfolio
/br/portfolio
/br/br/portfolio
/br/br/servicos/" title="Serviços HE:labs">Serviços</a></li>
          <li class="footer-nav-mobile__item"><a href="/sobre-nos/" title="Spbre a HE:labs">A empresa</a></li>
          <li class="footer-nav-mobile__item"><a href="http://journal.helabs.com/" target="_blank" title="Blog">blog</a></li>
          <li class="footer-nav-mobile__item"><a href="/br/contrate/" title="Contrate a HE:labs" onclick="ga('send','event','hire-us-footer-PT','Click','',1,{'nonInteraction': true});">Contrate</a></li>
        </ul>
      </nav-->

      <div class="section-footer-from__social">
        <p>© 2010/{{ site.time | date: '%Y' }} | Made with ❤ at HE:labs, a full-stack company specialist in mobile and web software development</p>

        {% include footer-icon-social.html %}

      </div>
    </div>
  </section>

</footer>

{% include scripts.html %}
{% include google-search-social-profiles.html %}

</body>
</html>

