<footer class="main-footer">


  <section class="main-footer-links">

    <div class="wrapper">

      <div class="main-footer-links__col1">

        <span class="main-footer-links__title">Quem somos</span>
        <p class="main-footer-links__description">
          Somos um time de designers e desenvolvedores ágeis, e nós podemos transformar a sua ideia em um excelente produto digital! <br>
          <strong>Vamos fazer algo excepcional juntos.</strong>
        </p>
        <a href="/br/contrate/" class="btn btn--red" title="Fale conosco">Fale Conosco</a>

      </div>

      <div class="main-footer-links__col2">


        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/br/portfolio/" title="Portfólio HE:labs" >Portfólio</a></span>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/br/servicos/" title="Serviços HE:labs">Serviços</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/br/servicos/">Nossos Serviços</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/br/servicos#metodologia" class="scroll">Metodologia</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/br/a-empresa/" title="A Empresa HE:labs">A Empresa</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/br/a-empresa/">Missão e Visão</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/br/a-empresa#valores" class="scroll">Valores</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/br/a-empresa#time" class="scroll">Nosso time</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="/br/contrate/" title="Contato HE:labs" data-no-instant onclick="ga('send','event','hire-us-footer-PT','Click','',1,{'nonInteraction': true});">Contato</a></span>

          <ul class="main-footer-nav">
            <li class="main-footer-nav__item">
              <a href="/br/contrate/" class="scroll">Quero contratar</a>
            </li>
            <li class="main-footer-nav__item">
              <a href="/br/contrate#fale-conosco" class="scroll">Fale conosco</a>
            </li>
          </ul>

        </div>

        <div class="main-footer-links__col3">

          <span class="main-footer-links__title"><a href="http://journal.helabs.com/" target="_blank">Blog</a></span>

        </div>

      </div>

    </div>

  </section>



  <section class="from-social">
    <div class="wrapper">

      <div class="section-footer-from__social">
        <p>© 2010/{{ site.time | date: '%Y' }} | Feito com ❤ na HE:labs, uma empresa inovadora, especialista em desenvolvimento de produtos digitais</p>

        {% include footer-icon-social.html %}

      </div>
    </div>
  </section>

</footer>

{% include scripts.html %}
{% include google-search-social-profiles.html %}

</body>
</html>
