<footer class="main-footer">

  <section class="from-social">
    <div class="wrapper">

      <nav class="footer-nav-mobile">
        <ul>


          <li class="footer-nav-mobile__item"><a href="/en/our-work/" title="Portfolio HE:labs">portfolio</a></li>
          <li class="footer-nav-mobile__item"><a href="/en/services/" title="Our Services HE:labs">services</a></li>
          <li class="footer-nav-mobile__item"><a href="/en/about-us/" title="About us HE:labs">about us</a></li>
          <li class="footer-nav-mobile__item"><a href="http://journal.helabs.com/" target="_blank">blog</a></li>
          <li class="footer-nav-mobile__item"><a href="/en/hire-us/" title="Hire us HE:labs" onclick="ga('send','event','hire-us-footer-EN','Click','',1,{'nonInteraction': true});">Hire Us</a></li>
        </ul>
      </nav>

      <div class="section-footer-from__social">
        <p>© 2010/{{ site.time | date: '%Y' }} | Made with ❤ at HE:labs, a full-stack company specialist in mobile and web software development</p>

        {% include footer-icon-social.html %}

      </div>
    </div>
  </section>

</footer>

{% include scripts.html %}
{% include google-search-social-profiles.html %}

</body>
</html>
