<footer class="main-footer">
<!--   <section>
    <div class="wrapper">

      <div class="section-articles article">

        <h3>LASTEST ARTICLES</h3>

        <div class="section-articles__box">
          <h4>RubyConf e TDC Porto Alegre 2015</h4>
          <p>Confira como foi palestrar nesses dois grandes eventos que rolaram no mês de Setembro.</p>
          <a href="#" class="full-link">FULL ARTICLE</a>
        </div>

        <div class="section-articles__box">
          <h4>AWS OpsWorks Deployment</h4>
          <p>Back in 2013, AWS was announcing a new service called OpsWorks. Let's have a look on...</p>
          <a href="#" class="full-link">FULL ARTICLE</a>
        </div>

        <div class="section-articles__box">
          <h4>Estreitando os laços entre devs e designers</h4>
          <p>A integração entre o trabalho do desenvolvedor e do designer é essencial para o sucesso de u…</p>
          <a href="#" class="full-link">FULL ARTICLE</a>
        </div>

      </div>

      <div class="section-articles books">
        <h3>BOOKS</h3>
        <div class="section-articles__book">
          <h4>RSpec - Crie especificações executáveis em Ruby</h4>
          <p>By Mauro George</p>
          <a href="#" class="full-link">BUY NOW</a>
        </div>
      </div>

    </div>
  </section> -->

<!--   <section class="section-footer__about--links">
    <div class="wrapper">
      <div class="section-footer-about">
        <h3>WHO WE ARE</h3>

        <p>We’re an agile team of developers and designers that can transform your idea into a excepcional digital product.</p>

        <p class="about-together">Let’s make something awesome together!</p>

        <a href="" class="btn btn--red">HIRE US</a>
      </div>

      <div class="section-footer-links">
        <div class="section-footer-links__box">
          <h3>ABOUT US</h3>
          <ul>
            <li><a href="">Culture</a></li>
            <li><a href="">Office</a></li>
            <li><a href="">Our team</a></li>
            <li><a href="">Media kit</a></li>
          </ul>
        </div>
        <div class="section-footer-links__box">
          <h3>PORTFOLIO</h3>
          <ul>
            <li><a href="">Cases</a></li>
            <li><a href="">In the house</a></li>
          </ul>
        </div>
        <div class="section-footer-links__box">
          <h3>COMMUNITY</h3>
          <ul>
            <li><a href="">HE:cast</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Open Source</a></li>
          </ul>
        </div>
        <div class="section-footer-links__box">
          <h3>TALK TO US</h3>
          <ul>
            <li><a href="">oi@helabs.com</a></li>
            <li><a href="">Hire us</a></li>
            <li><a href="">Work with us</a></li>
          </ul>
        </div>
        <div class="section-footer-links__box">
          <h3>Blog</h3>
        </div>
      </div>
    </div>
  </section> -->

  <section class="from-social">
    <div class="wrapper">

      <nav class="footer-nav-mobile">
        <ul>
          <li class="footer-nav-mobile__item"><a href="https://medium.com/helabs-journal" target="_blank" title="Blog">blog</a></li>
          <li class="footer-nav-mobile__item"><a href="/sobre-nos">A empresa</a></li>
          <li class="footer-nav-mobile__item"><a href="/trabalhos">Portfolio</a></li>
          <!-- <li class="footer-nav-mobile__item"><a href="#">community</a></li> -->
          <li class="footer-nav-mobile__item"><a href="/contrate">Fale conosco</a></li>
        </ul>
      </nav>

      <div class="section-footer-from__social">
        <p>© 2010/{{ site.time | date: '%Y' }} | Feito com ❤ na HE:labs, uma empresa inovadora, especialista em desenvolvimento de software web e mobile</p>

        {% include footer-icon-social.html %}

      </div>
    </div>
  </section>

</footer>

<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
<script src="/javascripts/jquery.fancybox-1.3.4.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/plugins/isotope.pkgd.min.js"></script>
<script src="/javascripts/plugins/packery-mode.js"></script>
<script src="/javascripts/plugins/jquery.waypoints.js"></script>
<script src="/javascripts/plugins/typed.js"></script>
<script src="/javascripts/plugins/jquery.bxslider.js"></script>
<script src="/javascripts/plugins/jquery.counterup.min.js"></script>
<script src="/javascripts/plugins/jquery.cycle2.js"></script>
<script src="/javascripts/plugins/jquery.cycle2.carousel.js"></script>
<script src="/javascripts/jcarousellite_1.0.1.js"></script>
<script src="/javascripts/site.js"></script>
<script src="/javascripts/scroll.js"></script>
<script src="/javascripts/parallax.js"></script>
<script src="/javascripts/count.js"></script>
<script src="/javascripts/grid-mosaic.js"></script>

</body>
</html>
