
<header class="main-header">

  <nav class="navbar">

    <a class="navbar-brand" href="/us" title="HE:labs">
      <img src="/images/logo-helabs.png" alt="HE:labs">
    </a>

    <ul class="navbar-nav">
      <li class="navbar-nav__item">
        <a href="/us/our-work/" title="Portfolio">Our work</a>
      </li>
      <li class="navbar-nav__item">
        <a href="/us/our-services/" title="Services">Our services</a>
      </li>
      <li class="navbar-nav__item">
        <a href="/us/about-us/" title="About Us">About Us</a>
      </li>
      <!--li class="navbar-nav__item">
        <a href="#" title="Community">Community</a>
      </li-->
      <li class="navbar-nav__item">
        <a href="http://journal.helabs.com/" target="_blank" title="Blog">Blog</a>
      </li>
      <li class="navbar-nav__item navbar-nav__item--btn">
        <a href="/us/hire-us/" title="Hire Us" onclick="ga('send','event','hire-us-EN','Click','',1,{'nonInteraction': true});">Hire Us</a>
      </li>
      <li><a class="translate-btn" href="{% if page.pt %}{{ page.pt }}{% else %}/br{% endif %}">PT</a></li>
    </ul>

    <a class="js-toggle-menu btn-toggle"></a>

  </nav>


</header>
