<div class="container">
  <form id="form41" name="form41" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://helabs.wufoo.com/forms/sn4ehjn1r9h6qm/#public" class="he-form he-form--no-padding" onsubmit="ga('send', 'event', 'Forms', 'Hire us Submitted EN');">
    <input type="hidden" id="budget" name="Field50"/>
    <input name="Field46" type="hidden" value="/en/quote-sent"/>
    <div class="he-form__group">
      <input id="name" name="Field43" type="text" class="he-form__input" required>
      <label for="name" class="he-form__label he-form__label--floating he-form__label--required">First name</label>
    </div>
    <div class="he-form__group">
      <input id="lastname" name="Field44" type="text" class="he-form__input" required>
      <label for="lastname" class="he-form__label he-form__label--floating he-form__label--required">Last name</label>
    </div>
    <div class="he-form__group">
      <input id="email" name="Field3" type="email" class="he-form__input" required>
      <label for="email" class="he-form__label he-form__label--floating he-form__label--required">Email</label>
    </div>
    <div class="he-form__group">
      <input id="phone" name="Field16" type="text" class="he-form__input" required>
      <label for="phone" class="he-form__label he-form__label--floating he-form__label--required">Phone number</label>
    </div>
    <div class="he-form__group">
      <input id="company" name="Field41" type="text" class="he-form__input" required>
      <label for="company" class="he-form__label he-form__label--floating he-form__label--required">Company / Project</label>
    </div>
    <div class="he-form__group">
      <input id="skype" name="Field48" type="text" class="he-form__input">
      <label for="skype" class="he-form__label he-form__label--floating">Skype or Hangouts (optional)</label>
      <span class="he-form__small-text">If you don’t have either of them, we’ll call you on your phone</span>
    </div>
    <div class="he-form__group">
      <div class="dropdown">
        <div class="dropdown__container">
          <label for="skype" class="he-form__label he-form__label--required he-form__label--fixed">Your budget</label>
          <p class="dropdown__button">Select one</p>
          <ul class="dropdown__menu">
            <li class="dropdown__menu-item" data-value="5.000 a 20.000">Between $5.000/month to $20.000/month</li>
            <li class="dropdown__menu-item" data-value="20.000 a 50.000">Between $20.000/month to $50.000/month</li>
            <li class="dropdown__menu-item" data-value="50.000 a 100.000">Between $50.000/month to $100.000/month</li>
            <li class="dropdown__menu-item" data-value="More than 100.000">More than $100.000/month</li>
          </ul>
        </div>
      </div>
      <span class="he-form__small-text"></span>
    </div>
    <div class="he-form__group">
      <label for="neccessity" class="he-form__label he-form__label--required he-form__label--fixed">Your project or neccessity</label>
      <textarea id="neccessity" name="Field52" required class="he-form__textarea" placeholder="Try to be very descriptive, because the more detail we have, the better will be our conversation"></textarea>
    </div>
    <div class="he-form__group">
      <input id="heard-about" name="heard-about" type="text" class="he-form__input">
      <label for="heard-about" class="he-form__label he-form__label--floating">Where did you hear about us? (optional)</label>
    </div>
    <div class="he-form__group he-form__group--center-text">
      <button class="btn btn--red" onclick="ga('send','event','confirm-hire-us-EN','Click','confirm',1,{'nonInteraction': true});">
        Confirm
      </button>
    </div>
    <div style="display:none;">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="hOrzQda8KMoT7Vb8gXt/t0RT4LXAUuBye0EjoY/3VOw=" />
    </div>
  </form>
</div>
