<input class="modal__state" id="modal-1" type="checkbox" />
<div class="modal__fade-screen">
  <div class="modal__inner">
    <div class="modal__close"></div>
    <div class="hire-us__heading hire-us__heading--not-top-spacing">
      <h2 class="hire-us__title title-line title-line--center">
        Schedule a meeting
      </h2>
      <p class="hire-us__subtitle">
        To offer you better choices, we need to now more about your project. Please answer the questions bellow to help us with that.
      </p>
    </div>
    <div class="container">
      <form action="#" method="post" autocomplete="off" class="he-form he-form--no-padding">
        <div class="he-form__group">
          <input id="name" name="name" type="text" class="he-form__input" required>
          <label for="name" class="he-form__label he-form__label--floating he-form__label--required">Your name</label>
        </div>
        <div class="he-form__group">
          <input id="company" name="company" type="text" class="he-form__input" required>
          <label for="company" class="he-form__label he-form__label--floating he-form__label--required">Company / Project</label>
        </div>
        <div class="he-form__group">
          <input id="email" name="email" type="email" class="he-form__input" required>
          <label for="email" class="he-form__label he-form__label--floating he-form__label--required">Email</label>
        </div>
        <div class="he-form__group">
          <input id="phone" name="phone" type="text" class="he-form__input" required>
          <label for="phone" class="he-form__label he-form__label--floating he-form__label--required">Phone number</label>
        </div>
        <div class="he-form__group">
          <input id="skype" name="skype" type="text" class="he-form__input">
          <label for="skype" class="he-form__label he-form__label--floating">Skype or Hangouts (optional)</label>
          <span class="he-form__small-text">If you don’t have either of them, we’ll call you on your phone</span>
        </div>
        <div class="he-form__group">
          <div class="dropdown">
            <div class="dropdown__container">
              <label for="skype" class="he-form__label he-form__label--required he-form__label--fixed">Your budget</label>
              <p class="dropdown__button">Select one</p>
              <ul class="dropdown__menu">
                <li class="dropdown__menu-item">Between R$ 20.000/month to R$ 50.000/month</li>
                <li class="dropdown__menu-item">Between R$ 50.000/month to R$ 100.000/month</li>
                <li class="dropdown__menu-item">Between R$ 100.000/month to R$ 250.000/month</li>
                <li class="dropdown__menu-item">More than R$ 250.000/month</li>
              </ul>
            </div>
          </div>
          <span class="he-form__small-text">If you don’t know about our costs yet, try to get an estimate first</span>
        </div>
        <div class="he-form__group">
          <label for="neccessity" class="he-form__label he-form__label--required he-form__label--fixed">Your project or neccessity</label>
          <textarea id="neccessity" required class="he-form__textarea" placeholder="Try to be very descriptive, because the more detail we have, the better will be our conversation"></textarea>
        </div>
        <div class="he-form__group">
          <input id="heard-about" name="heard-about" type="text" class="he-form__input">
          <label for="heard-about" class="he-form__label he-form__label--floating">Where did you hear about us? (optional)</label>
        </div>
        <div class="he-form__group he-form__group--center-text">
          <button class="btn btn--red">
            Confirm meeting
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
