<div class="container">
  <form id="form50" name="form50" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://helabs.wufoo.com/forms/sn4ehjn1r9h6qm/#public" class="he-form he-form--no-padding" onsubmit="ga('send', 'event', 'Forms', 'Hire us Submitted PT');">
  <input type="hidden" id="budget" name="Field50"/>
  <input name="Field46" type="hidden" value="/proposta-enviada"/>
    <div class="he-form__group">
      <input id="name" name="Field43" type="text" class="he-form__input" required>
      <label for="name" class="he-form__label he-form__label--floating he-form__label--required">Seu nome</label>
    </div>
    <div class="he-form__group">
      <input id="lastname" name="Field44" type="text" class="he-form__input" required>
      <label for="lastname" class="he-form__label he-form__label--floating he-form__label--required">Seu sobrenome</label>
    </div>
    <div class="he-form__group">
      <input id="email" name="Field3" type="email" class="he-form__input" required>
      <label for="email" class="he-form__label he-form__label--floating he-form__label--required">Seu e-mail</label>
    </div>
    <div class="he-form__group">
      <input id="phone" name="Field16" type="text" class="he-form__input" required>
      <label for="phone" class="he-form__label he-form__label--floating he-form__label--required">Seu telefone</label>
    </div>
    <div class="he-form__group">
      <input id="company" name="Field41" type="text" class="he-form__input" required>
      <label for="company" class="he-form__label he-form__label--floating he-form__label--required">Nome da sua empresa / Projeto</label>
    </div>
    <div class="he-form__group">
      <input id="skype" name="Field48" type="text" class="he-form__input">
      <label for="skype" class="he-form__label he-form__label--floating">Seu usuário de skype ou hangouts (opcional)</label>
      <span class="he-form__small-text">Se você não possuí nenhum dos dois, nós ligaremos no seu telefone.</span>
    </div>
    <div class="he-form__group">
      <div class="dropdown">
        <div class="dropdown__container">
          <label for="Field50" class="he-form__label he-form__label--required he-form__label--fixed">Seu orçamento</label>
          <p class="dropdown__button" >Selecione um</p>
          <ul class="dropdown__menu">
            <li class="dropdown__menu-item" data-value="20.000 a 50.000">Entre R$ 20.000 e R$ 50.000 por mês</li>
            <li class="dropdown__menu-item" data-value="50.000 a 100.000">Entre R$ 50.000 e R$ 100.000 por mês</li>
            <li class="dropdown__menu-item" data-value="100.000 a 250.000">Entre R$ 100.000 e R$ 250.000 por mês</li>
            <li class="dropdown__menu-item" data-value="Mais que 250.000">Maior que R$ 250.000 por mês</li>
          </ul>
        </div>
      </div>
      <span class="he-form__small-text"></span>
    </div>
    <div class="he-form__group">
      <label for="neccessity" class="he-form__label he-form__label--required he-form__label--fixed">Seu projeto ou necessidade</label>
      <textarea id="neccessity" name="Field52" required class="he-form__textarea" placeholder="Tente descrever em detalhes, assim poderemos ter uma conversa mais específica."></textarea>
    </div>
    <div class="he-form__group">
      <input id="heard-about" name="Field54" type="text" class="he-form__input">
      <label for="heard-about" class="he-form__label he-form__label--floating">Como nos encontrou? (opcional)</label>
    </div>
    <div class="he-form__group he-form__group--center-text">
      <button class="btn btn--red" id="saveForm" name="saveForm" onclick="ga('send','event','confirm-hire-us-PT','Click','confirm',1,{'nonInteraction': true});">
        CONFIRMAR
      </button>
    </div>
    <div style="display:none;">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="hOrzQda8KMoT7Vb8gXt/t0RT4LXAUuBye0EjoY/3VOw=" />
    </div>
  </form>
</div>
