<input class="modal__state" id="modal-1" type="checkbox" />
<div class="modal__fade-screen">
  <div class="modal__inner">
    <div class="modal__close"></div>
    <div class="hire-us__heading hire-us__heading--not-top-spacing">
      <h2 class="hire-us__title title-line title-line--center">
        Agende uma reunião
      </h2>
      <p class="hire-us__subtitle">
        Para te oferecer uma melhor opção, precisamos saber um pouco mais sobre o seu projeto. Por favor preencha o formulário a baixo.
      </p>
    </div>
    <div class="container">
      <form action="#" method="post" autocomplete="off" class="he-form he-form--no-padding">
        <div class="he-form__group">
          <input id="name" name="name" type="text" class="he-form__input" required>
          <label for="name" class="he-form__label he-form__label--floating he-form__label--required">Seu nome</label>
        </div>
        <div class="he-form__group">
          <input id="company" name="company" type="text" class="he-form__input" required>
          <label for="company" class="he-form__label he-form__label--floating he-form__label--required">Nome da sua empresa / Projeto</label>
        </div>
        <div class="he-form__group">
          <input id="email" name="email" type="email" class="he-form__input" required>
          <label for="email" class="he-form__label he-form__label--floating he-form__label--required">Seu Email</label>
        </div>
        <div class="he-form__group">
          <input id="phone" name="phone" type="text" class="he-form__input" required>
          <label for="phone" class="he-form__label he-form__label--floating he-form__label--required">Seu telefone</label>
        </div>
        <div class="he-form__group">
          <input id="skype" name="skype" type="text" class="he-form__input">
          <label for="skype" class="he-form__label he-form__label--floating">Seu usuário de skype ou hangouts (opcional)</label>
          <span class="he-form__small-text">Se você não possuí nenhum dos dois, nós ligaremos no seu telefone.</span>
        </div>
        <div class="he-form__group">
          <div class="dropdown">
            <div class="dropdown__container">
              <label for="skype" class="he-form__label he-form__label--required he-form__label--fixed">Seu Orçamento</label>
              <p class="dropdown__button">Selecione um</p>
              <ul class="dropdown__menu">
                <li class="dropdown__menu-item">Entre R$ 20.000 e R$ 50.000 por mês</li>
                <li class="dropdown__menu-item">Entre R$ 50.000 e R$ 100.000 por mês</li>
                <li class="dropdown__menu-item">Entre R$ 100.000 e R$ 250.000 por mês</li>
                <li class="dropdown__menu-item">Maior que R$ 250.000 por mês</li>
              </ul>
            </div>
          </div>
          <span class="he-form__small-text">Não sabe sobre os custos de desenvolvimento? Solicite uma estimativa primeiro.</span>
        </div>
        <div class="he-form__group">
          <label for="neccessity" class="he-form__label he-form__label--required he-form__label--fixed">Seu projeto ou necessidade</label>
          <textarea id="neccessity" name="neccessity" required class="he-form__textarea" placeholder="Tente descrever em detalhes, assim poderemos ter uma conversa mais específica."></textarea>
        </div>
        <div class="he-form__group">
          <input id="heard-about" name="heard-about" type="text" class="he-form__input">
          <label for="heard-about" class="he-form__label he-form__label--floating">De onde ouviu falar sobre nós? (opcional)</label>
        </div>
        <div class="he-form__group he-form__group--center-text">
          <button class="btn btn--red">
            CONFIRMAR REUNIÃO
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
