<div class="section-team__grid">
{% for person in site.categories.time reversed %}
  {% if person.permalink %}
    <div class="section-team__item">
      <a href="{{ person.permalink }}" title="{{ person.full_name }}">
        <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
        <div class="section-team__name">
          <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
        </div>
      </a>
    </div>
  {% else %}
    <div class="section-team__item">
      <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
      <div class="section-team__name">
        <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
