<div class="section-team__grid">
{% assign sorted_team = site.categories.time | sort:"full_name" %}
{% for person in sorted_team %}
  <div class="section-team__item">
    {% if person.en %}
      <a href="{{ person.en }}" title="{{ person.full_name }}">
        <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
        <div class="section-team__name">
          <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
        </div>
      </a>
    {% else %}
        <img src="{{ person.image }}" srcset="{{ person.image2x }} 2x" alt="{{ person.full_name }}" />
        <div class="section-team__name">
          <span >{{ person.full_name }}<br /> <small>{{ person.job_title }}</small></span>
        </div>
    {% endif %}
  </div>
{% endfor %}
</div>
