// *************************************
//
// team-member/layout
//
// *************************************
.page-team-member {
  background: $white-smoke;
}

.team-member {

  &__hero {
    @include span-columns(12);
    background: url('/images/bg-contact.jpg') no-repeat $black top center;
    background-size: cover;
    min-height: rem(470);
    overflow: hidden;
    padding-top: rem(80);
    position: relative;
  }

  &__title {
    color: $light-primary;
    font-family: $heading-font-family;
    font-size: rem(26);
    margin-bottom: rem(10);
    margin-top: 30px;
    text-align: center;
  }

  &__jobtitle {
    color: $light-red;
    font-family: $base-font-family;
    font-size: rem(14);
    text-align: center;
    text-transform: uppercase;
  }

  &__heading {
    @include size(100% rem(250));
    background: url('/images/bg-avatar-team-membr.png') no-repeat transparent top center;
    margin: 0 auto;
    max-width: 450px;
    padding-top: 18px;
  }

  &__picture {
    @include size(190px);
    margin:0 auto;

    img {
      @include size(190px);
      border-radius: 50%;
    }
  }

  &__content {
    @include span-columns(12);
    background: #f2f2f2;

    @include media($screen-medium) {
      padding: $base-spacing;
    }

    .wrapper {
      margin: 50px auto;
      max-width: rem(860);

      @include media($screen-small) {
        margin: 0 auto;
      }
    }
  }

  &__bio {
    color: #000;
    font-family: $base-font-family;
    font-size: rem(22);
    line-height: rem(40);
    margin-bottom: rem(25);

    @include media($screen-small) {
      font-size: rem(16);
      line-height: rem(30);
    }
  }

  &__subtitle {
    color: $warm-grey;
    font-family: $base-font-family;
    font-size: rem(18);
    font-weight: bold;
    margin: 0 0 rem(15) 0;
  }

  &__social {
    @include fill-parent;
    color: #000;
    font-size: rem(20);

    li {
      display: inline-block;
      margin-right: rem(20);
    }

    svg {
      float: left;
      margin-right: 5px;
    }

    svg > path{
      fill: #000;
    }
  }
}
