// *************************************
//
// ourwork/layout
//
// *************************************
#our-work {
  background: $pale-grey;

  .main-header {
    background: rgba(55, 50, 50, 0.9);
  }

}

.ourwork {
  @include span-columns(12);
  background: url('/images/background-portfolio.jpg') no-repeat $black center -300px;
  background-size: cover;
  min-height: rem(200);
  overflow: hidden;
  position: relative;

  .wrapper {
    @include outer-container();
    padding-top: rem(140);
    padding-bottom: rem(75);

    @include media($screen-small) {
      padding: 0 $base-spacing;
    }
  }

  &__heading {
    margin: 0 auto;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $pale-grey;
    display: block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $pale-grey;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }

  &__background {
    background: url('/images/background-portfolio.jpg') no-repeat $black top center;
    background-size: cover;
    height: 110%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

}




.projects {
  display: block;
  max-width: 100%;
  text-align: left;
  width: 100%;
  overflow: hidden;

  figure,
  img {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    vertical-align: bottom;
    position: relative;
  }

  &__list {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }

  &__box-caption {
    @include position(absolute, 0 null auto null);
    @include size(100% 100%);
    @include transform(translateY(0%));
    @include transition(transform .4s, opacity .1s .3s);
    background: rgba(black, .95);
    color: $light-primary;
    opacity: 0;
    padding: rem(20);

    &-links {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  &__link-image {
    margin: 0 50px 0 70px;
  }

  &__more {
    margin: 0 auto;
  }

  &__box {
    background: $light;
    display: inline-block;
    float: left;
    margin-right: 100px;
    margin-bottom: 30px;
    max-height: 480px;
    min-height: 410px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 300px;

    &:nth-child(3n+3) {
      margin-right:0;
    }

    &:nth-child(3n+1) {
      margin-left: 100px;
    }

    img {
      position: relative;
      transition: .2s;
    }

    figure {
      &:hover figcaption {
        @include transform(translateY(0));
        @include transition(transform .4s, opacity .1s);
        opacity: 1;
      }
    }

    @include media($screen-tiny) {
      width: 100%;
    }

  }

  &__infos {
    padding: 10px;
  }

  &__project {
    color: $light-red;
    display: inline-block;
    font-size: rem(14);
    width: 100%;
  }

  &__name {
    color: $black;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(18);
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  }

  &__subtitle {
    color: $greyish-brown;
    font-size: 14px;
    width: 100%;
  }

  &__link {
    color: $greyish-brown;
    font-size: 15px;
    font-weight: 900;
    text-decoration: underline;

    &:hover {
      color: $light-red;
    }
  }
}
