// *************************************
//
//   HE-icons
//
// *************************************
@font-face {
  font-family: 'helabs-icon';
  src:    url('../fonts/helabs-icon.eot?4r51g2');
  src:    url('../fonts/helabs-icon.eot?4r51g2#iefix') format('embedded-opentype'),
      url('../fonts/helabs-icon.ttf?4r51g2') format('truetype'),
      url('../fonts/helabs-icon.woff?4r51g2') format('woff'),
      url('../fonts/helabs-icon.svg?4r51g2#helabs-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'helabs-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}

