// *************************************
//
// ourwork/layout
//
// *************************************
#our-work {
  background: $pale-grey;

  .main-header {
    background: rgba(55, 50, 50, 0.9);
  }

}

.ourwork {
  @include span-columns(12);
  background: url('/images/background-portfolio.jpg') no-repeat $black center center;
  background-size: cover;
  min-height: rem(200);
  overflow: hidden;
  position: relative;

  @include media($screen-small){
    padding: rem(150) 0 rem(50);
  }

  .wrapper {
    @include outer-container();
    padding-top: rem(140);
    padding-bottom: rem(75);

    @include media($screen-small) {
      padding: 0 $base-spacing;
    }
  }

  &__heading {
    margin: 0 auto;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $pale-grey;
    display: block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $pale-grey;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }

  &__background {
    background: url('/images/background-portfolio.jpg') no-repeat $black top center;
    background-size: cover;
    height: 110%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

}

.clients-grid {
  @include span-columns(12);
  background: $pale-grey;
  padding: rem(60) 0;

  &__heading {
    margin: 0 auto;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $light-red;
    display: block;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $black;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;
  }

  &__wrap {
    @include span-columns(12);
    margin-top: rem(70);
  }

  &__item {
    @include omega(4n);
    @include span-columns(3 of 12);
    background: $light;
    min-height: rem(90);
    max-height: rem(120);
    margin-bottom: rem(20);
    text-align: center;
    overflow: hidden;

    @include media($screen-small) {
      @include omega-reset(4n);
      @include omega(2n);
      @include span-columns(6 of 12);
    }

    img {
      max-width: rem(280);
      width: 100%;
    }
  }

}




.projects {
  display: block;
  max-width: 100%;
  text-align: left;
  width: 100%;
  overflow: hidden;

  figure,
  img {
    width: 100%;
    margin: 0 auto;
    //max-width: 385px;
    vertical-align: bottom;
    position: relative;
  }

  &__list {
    @include outer-container;
    display: inline-block;
    margin: 0 auto;
  }

  &__box-caption {
    @include position(absolute, 0 null auto null);
    @include size(100% 100%);
    @include transform(translateY(0%));
    @include transition(transform .4s, opacity .1s .3s);
    background: rgba(black, .95);
    color: $light-primary;
    opacity: 0;
    padding: rem(20);
    text-align: center;

    &-links {
      top: 50%;
      margin-left: rem(-20);
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
    }
  }

  &__link-image {
    margin: 0 auto;
  }

  &__more {
    margin: 0 auto;
  }

  &__box {
    @include span-columns(4);
    @include omega(3n);
    background: $light;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: left;

    @include media($screen-small){
      @include omega-reset(3n);
      @include span-columns(6);
      @include omega(2n);
    }

    img {
      position: relative;
      transition: .2s;
    }

    figure {
      &:hover figcaption {
        @include transform(translateY(0));
        @include transition(transform .4s, opacity .1s);
        opacity: .95;
      }
    }

    @include media($screen-tiny) {
      width: 100%;
    }

  }

  &__infos {
    padding: 10px;
  }

  &__project {
    color: $light-red;
    display: inline-block;
    font-size: rem(14);
    width: 100%;
  }

  &__name {
    color: $black;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(18);
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  }

  &__subtitle {
    color: $greyish-brown;
    font-size: 14px;
    height: 50px;
    width: 100%;
  }

  &__link {
    color: $greyish-brown;
    font-size: 15px;
    font-weight: 900;
    text-decoration: underline;

    &:hover {
      color: $light-red;
    }
  }

  &__more-details {
    border-top: 1px solid rgba($black, .15);
    margin-top: 10px;

    p {
      color: $black;
      display: inline-block;
      font-size: 14px;
      font-family: $base-font-family;
      padding: 5px 10px;
    }

    span {
      margin-right: 10px;
    }

    svg {
      position: relative;
      top: rem(6);
      margin-right: rem(5);
    }
  }

  .btn {
    display: table;
    margin:0 auto;
  }
}


.testimonials {
  @include span-columns(12);
  background: $black;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(40);
    text-align: center;
  }

  &__title {
    color: $light-red;
    font-family: $heading-font-family;
    font-size: rem(46);
    font-weight: 900;
    margin-top: rem(20);
  }

  &__subtitle {
    clear: both;
    color: $pale-grey;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 rem(30);
    width: 100%;
  }

}

.slider-testimonial {
  margin: 0 auto;
  max-width: rem(760);
  position: relative;

  &::before {
    @include position(absolute, 0 null null 0);
    @include size(47px 199px);
    background: url('/images/slider-testimonials-background.png') no-repeat top left;
    content: '';
  }

  &::after {
    @include position(absolute, 0 0 null null);
    @include size(47px 199px);
    background: url('/images/slider-testimonials-background.png') no-repeat top right;
    content: '';
  }

  &__quote {
    color: $pale-grey;
    font-family: $base-font-family;
    font-size: rem(18);
    font-style: italic;
    font-weight: 300;
    margin: 20px auto;
    max-width: rem(570);
    min-height: rem(220);

    @include media($screen-small) {
      @include pad(0 $base-spacing*3);
      font-size: rem(15);
    }
  }

  &__picture {
    @include size(200px 110px);
    background: url('/images/slider-background-author.svg') no-repeat top center;
    display: inline-block;
    margin: 0 auto;

    img {
      margin: rem(11) 0 0 rem(61);
    }
  }

  &__author {
    color: $pale-grey;
    font-size: rem(18);
  }

  &__project {
    color: $light-red;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
  }

  &__prev {
    @include position(absolute, null null 100px 50px);
    color: $pale-grey;
    font-size: rem(22);
    font-weight: 300;
    z-index: 100;

    @include media($screen-small) {
      @include position(absolute, null null -50px 50px);
      font-size: rem(17);
    }

    &::after {
      background: url('/images/arrow-prev.svg') no-repeat top left;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  &__next {
    @include position(absolute, null 50px 100px null);
    color: $light-primary;
    font-size: rem(22);
    font-weight: 300;
    z-index: 100;

    @include media($screen-small) {
      @include position(absolute, null 50px -50px null);
      font-size: rem(17);
    }

    &::after {
      background: url('/images/arrow.svg') no-repeat top right;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  a {
    color: $light-primary;
    cursor: pointer;
  }

  a:hover {
    color: $pale-grey;
  }

}


.testimonials-video {
  @include span-columns(12);
  margin-top: rem(100);

  figure {
    @include size(100% auto);
    float: left;
    opacity: .4;
    transition: opacity .2s;
  }

  img {
    @include size(100% auto);
    float: left;
  }

  &__box {
    cursor: pointer;
    float: left;
    //height: 180px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 25%;

    @include media($screen-small) {
      width: 50%;
    }

    @include media($screen-tiny) {
      width: 100%;
    }

    &:hover > figure {
      opacity: 1;
    }

    &:hover{
      .testimonials-video__author::before {
        background: url('/images/arrow.svg') no-repeat top right;
        content: '';
        display: block;
        height: 9px;
        position: static;
        width: 100%;
      }
    }
  }

  &__description {
    @include position(absolute, null null 10px null);
    text-align: center;
    width: 100%;
  }

  &__author {
    color: $pale-grey;
    display: inline-block;
    font-size: rem(18);

    &::before {
      @include transition(all .2s);
      content: '';
      width: 0;
    }
  }

  &__project {
    color: $light-red;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
    width: 100%;
  }
}
