// *************************************
//
// layouts/header
//
// *************************************
.main-header {
  @include position(fixed, 0 null null 0);
  @include size(100% 99px);
  z-index: 5;

  &--fixed {
    background: rgba($black, .95);

    .navbar {
      padding: rem(20);
    }

    .translate-btn {
      display: none;
    }

  }
}

.navbar {
  @include transition(all .3s);
  padding: rem(30);

  &-brand {
    @include size(rem(142) rem(50));
    display: block;
    float: left;
  }
}

.translate-btn {
  background: $light-red;
  border-radius: 0 0 5px 5px;
  color: $white-smoke;
  font-size: rem(12);
  font-weight: 600;
  padding: rem(2) rem(9);
  position: absolute;
  right: 2rem;
  text-decoration: underline;
  top: 0;
  display: block;

  &:active,
  &:focus,
  &:hover {
    color: $white-smoke;
  }

}

.navbar-nav {
  @include span-columns(9 of 12);
  float: right;
  margin: 0;
  text-align: right;

  // custom mobile side menu
  @include media($screen-small) {
    @include position(fixed, 0px -240px null null);
    @include size(240px 100%);
    background: $black;
    border-left: 1px solid $warm-grey;
    // box-shadow: inset 121px 0px 28px -112px rgba(0,0,0, .33);
    float: none;
    height: 100%;
    margin: 0;
    padding-top: 30px;
    z-index: 1000;
  }
  &--is-open {
    @include media($screen-small) {
      right: 0px;
    }
  }
  // end

  &__item {
    display: inline-block;
    font-size: rem(16);
    margin-left: 2px;
    margin-top: 1px;
    position: relative;
    text-align: center;
    width: 100px;

    @include media($screen-small) {
      display: block;
      margin-bottom: rem(10);
      padding: 10px 20px 0;
      text-align: left;
      width: 100%;
    }

    a {
      @include size(100% 100%);
      @include transition(all .3s);
      color: $white-smoke;
      display: block;

      &:hover {
        font-weight: bold;
      }
    }

    &--btn {
      border-radius: rem(8);
      border: 1px solid $light;
      color: $light;
      padding: 10px 22px;
      width: 120px;

      &:hover {
        font-weight: bold;
      }

      @include media($screen-small) {
        border: 0 !important;
        padding: 10px 20px 0;
        width: auto;
      }

    }
  }

  &__item.navbar-nav__item--btn.current-li {
    border: 2px solid $light;
  }

  /* Current Page */
  &__item:not(:nth-of-type(5)){

    .current-page {
      font-weight: bold;


      &::after {
        @extend %after-title-line;
        @include position(absolute, rem(35) calc(66% - 35px));
        background: $light-red;
        height: 4px;
        width: 38px;

        @include media($screen-small) {
          display: none;
        }

      }
    }
  }

  &__item:last-child{

    &.current-li {
      background: $light;
      border: 3px solid $light;
      margin-top: 0;

      a {
        color: $black;
        font-weight: bold;
      }
    }

    &:hover {
      border: 3px solid $light;
      margin-top: 0;
    }
  }
  /* End current page */

}

/* Transitions */
.navbar-nav,
.main-content,
.main-header {
  @include transition(all .3s);
}

/* Push classes applied to the body */
.main-content {
  @include media($screen-small) {
    left: 0;
    overflow-x: hidden;
    position: relative;
  }
}
.main-content-toright {
  left: 240px;
}
.main-content-toleft {
  left: -240px;
}



.btn-toggle {
  @include vertical-align();
  cursor: pointer;
  position: absolute;
  right: 20px;
  text-decoration: none;

  // toggle icon hidden on large screens
  &,
  &:before,
  &:after {
    @include transition(.3s ease-in-out);
    background-color: $light-primary;
    display: none;
    height: 3px;
    width: 34px;
  }

  // shows toggle icon on small screens
  @include media($screen-small) {
    &,
    &:before,
    &:after {
      display: block;
    }
  }

  // hides 'menu' text
  > span {

  }

  // top and bottom rows
  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  // top row
  &:before {
    top: -8px;
  }

  // bottom row
  &:after {
    bottom: -8px;
  }
}

.toggle--close {
  background-color: transparent;

  &:before,
  &:after {
    top: 0;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
