// *************************************
//
// components/titles-line
//
// *************************************

.title-line {
  position: relative;
  display: inline-block;

  &--center {

    &::after {
      @extend %after-title-line;
      @include position(absolute, rem(65) calc(50% - 35px));
      width: 70px;
      height: 4px;

      @include media($screen-tiny) {
        @include position(absolute, rem(40) calc(50% - 35px));
      }
    }
  }

  &--left {

    &::after {
      @extend %after-title-line;
      @include position(null, null null rem(-30) 0);
      @include size(rem(80) rem(16));
    }
  }
}
