// *************************************
//
// home/main-banner
//
// *************************************

.main-banner {
  @include span-columns(12);
  // background: url('/images/background-video1.gif') no-repeat center center;
  // background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  min-height: rem(630);
  overflow: hidden;
  position: relative;

  @include media($screen-small){
    @include background(url('/images/bg-contact-1.png') no-repeat center center fixed);
    background-size: cover;

    .mbYTP_wrapper {
      display: none;
    }
  }

  &__bg {
    @include span-columns(12);
    background: url('/images/pattern.png') repeat center center;
    height: 100vh;
    min-height: rem(770);
    position: absolute;
  }

  &,
  &__bg {
    @include media($screen-tiny) {
      height: rem(640);
      min-height: rem(640);
    }
  }

  &__content {
    margin: rem(164) auto 0;
    //max-width: rem(950);
    text-align: center;

    & > * {
      @include transition(all .2s ease-in-out);
    }
  }

  &__title {
    color: $light-red;
    font-size: rem(100);

    @include media($screen-big) {
      font-size: 6vw;
    }

    @include media($screen-medium) {
      font-size: rem(85);
    }

    @include media($screen-tiny) {
      font-size: rem(44);
    }

  }

  &__subtitle {
    color: $light;
    font-family: $base-font-family;
    font-size: rem(40);
    font-weight: 300;

    @include media($screen-medium) {
      font-size: rem(30);
    }

    @include media($screen-tiny) {
      font-size: rem(16);
    }

  }

  &__arrow-down {
    @include position(absolute, null null rem(24) null);
    @include size(100% 62px);
    background: url('/images/scroll.svg') no-repeat top center;
    display: block;

    .animation {
      @include position(relative, 30px null null null);
      @include size(2px 5px);
      animation: upDown 500ms infinite;
      background-color: $light-primary;
      border-radius: 100%;
      display: block;
      margin: auto;
    }
  }
}
