// *************************************
//
// home/section-waiting
//
// *************************************

.section-waiting {
  background-color: $light-red;
  clear: both;
  padding: rem(40);
  text-align: center;

  &__title {
    color: $dark;
    font-size: rem(48);

    @include media($screen-tiny) {
      font-size: rem(26);
    }
  }

  &__subtitle {
    color: $light;
    font-family: $base-font-family;
    font-size: rem(40);
    margin: 0 0 rem(10);

    @include media($screen-tiny) {
      font-size: rem(14);
    }
  }

  .btn {
    margin-top: rem(20);
  }
}
