// *************************************
//
// case-details/layout
//
// *************************************

.page-case-details {

  .main-header {
    background: rgba(55, 50, 50, 0.9);
  }

  .wrapper {
    @include outer-container();
    padding-bottom: rem(75);
    padding-top: rem(40);

    @include media($screen-small) {
      padding: 0 $base-spacing;
    }
  }
}

.case-detail {

  &__no-banner {
    @include span-columns(12);
    margin-top: rem(90);
  }

  &__banner {
    @include span-columns(12);
    margin-top: rem(90);
    min-height: rem(545);
    text-align: center;

    @include media($screen-small) {
      margin-top: rem(120);
      min-height: rem(200);
      padding: 0 $base-spacing;
    }

    img {
      max-width: 100%;
    }

  }

  &__about {
    @include span-columns(12);
    text-align: center;
  }

  &__title {
    color: $light-red;
    font-family: $heading-font-family;
    font-size: rem(36);
  }

  &__category {
    color: $greyish-brown;
    font-family: $base-font-family;
    font-size: rem(24);
    margin-bottom: rem(40);

    @include media($screen-small) {
      margin-bottom: rem(10);
    }
  }

  &__description {
    color: $greyish-brown;
    font-family: $base-font-family;
    font-size: rem(24);
    line-height: 1.5;
    margin: 0 auto;
    max-width: rem(990);

    @include media($screen-small) {
      @include pad(0 $base-spacing);
      font-size: rem(15);
      line-height: rem(22);
    }

  }

}

.case-detail-testimonial {
  background: $black;
  color:$pale-grey;
  display: block;
  float: left;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .wrapper {
    padding: rem(90) rem(110)!important;

    @include media($screen-medium) {
     padding: rem(90) $base-spacing !important;
    }

  }

  p {
    font-size: rem(20);
    font-weight: 300;
    line-height: rem(50);
    @include position(relative);

    @include media($screen-small) {
      font-size: rem(15);
      line-height: rem(22);
    }

    &:after {
      background: url('/images/ic-quotes.svg');
      @include size(52px 40px);
      content: '';
      left: 0;
      opacity: .45;
      position: absolute;
      top: 0;
    }
  }

  span {
    clear: both;
    color: $pale-grey;
    float: right;
    font-weight: 500;
    opacity: .45;
    text-align: left;
  }
}



.case-detail-projects {
  @include span-columns(12);
  margin-top: rem(70);

  @include media($screen-medium) {
    padding: rem(40) 0;
  }

  .wrapper {
    border-top: 1px solid rgba($black, .2);
  }

  &__title {
    @include span-columns(4 of 12);
    color: $light-red;
    font-family: $heading-font-family;
    font-size: rem(36);
    margin-top: 85px;

    @include media($screen-medium) {
      @include fill-parent;
      font-size: rem(24);
      text-align: center;
    }
  }

  &__others {
    @include span-columns(8 of 12);

    @include media($screen-medium) {
      @include fill-parent;
    }

    li {
      @include span-columns(4 of 12);
      text-align: center;

      &:hover a > figure > img {
        @include filter(grayscale(0));
      }

      img {
        @include filter(grayscale(100%));
        @include size(185px 175px);
        border-radius: 50%;
        opacity: .9;
        transition: .2s;

        @include media($screen-small) {
          font-size: 11px;
          @include size(145px 135px);
        }

        @include media($screen-tiny) {
          font-size: 11px;
          @include size(100px 90px);
        }

      }

      a {
        color: $black;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 15px;

        @include media($screen-medium) {
          font-size: 11px;
          margin-top: 10px;
        }
      }
    }

  }

}

