// *************************************
//
// components/circle-video
//
// *************************************

.circle-video {
  @include size(rem(250));
  border-radius: 50%;
  margin: 0 auto;
  position: relative;

  // bigger circle - on page Our Work Details
  &--big {
    @include size(rem(370));
    .hover {
      @include size(rem(370));
    }
    .circle-video__play{
      opacity: 1;
      .icon {
        font-size: rem(150);
      }
    }
  }

  &::before {
    @include position(absolute, 0 0 0 0);
    @include size(90%);
    @include transition(all .3s);
    background: transparent;
    border-radius: 50%;
    border: 1px solid $light;
    content: '';
    margin: 5%;
    z-index: 1;
  }

  .hover {
    @include size(100%);
    @include transition(all 0.3s);
    border-radius: 50%;
  }

  &:hover {
    background: $light-red;
    img {
      opacity: .5;
    }
    .circle-video__play{
      opacity: 1;
    }
  }

  &__play {
    @include position(absolute, 0 null null 0);
    @include size(100%);
    opacity: 0;
    text-align: center;
    z-index: 1;

    .icon {
      @include position(absolute, 30% null null 42%);
      color: white;
      font-size: rem(95);
    }
  }
}

.circle-video:hover {
  &::before {
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    content: '';
    height: 80%;
    left: 0;
    margin: 10%;
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 1;
  }
}
