// *************************************
//
// components/grid-mosaic
//
// *************************************
html,
body {
  //height: 100%;
  background: $dark;
}

.grid {
  @include size(100% 75%);

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// grid item - sizes
.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 50%; }
.grid-item--width3 { width: 15%; }

.grid-sizer,
.grid-item,
.grid-item--width2,
.grid-item--width3,
.grid-item--height2 {
  @include media($screen-small) {
    width: 50%;
  }
  @include media($screen-tiny) {
    width: 100%;
  }
}

.grid-item {
  overflow: hidden;

  img {
    @include filter(grayscale(100%));
    @include transition-duration(.2s);
    float: left;
    height: 100%;
    max-width: 100%;
    vertical-align: bottom;
  }

}

// grid hovers
.grid-caption {
  @include position(absolute, auto null 0 null);
  @include size(100% rem(100));
  @include transform(translateY(100%));
  @include transition(transform .4s, opacity .1s .3s);
  background: rgba($darkish-red, .8);
  color: $light-primary;
  opacity: 0;
  padding: rem(20);

  .project {
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(15);
    text-transform: uppercase;
    width: 100%;
  }

  .project-name {
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(26);
    text-transform: uppercase;
    width: 100%;
  }

  .full-case {
    @include transition(all .3s);
    color: $light;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    text-align: right;
    text-decoration: underline;
    width: 100%;

    &:hover {
      font-weight: bold;
    }
  }

}

.grid-item:hover {
  img {
    @include filter(grayscale(0%));
  }

  .grid-caption {
    @include transform(translateY(0));
    @include transition(transform .4s, opacity .1s);
    opacity: 1;
  }
}
