// *************************************
//
// components/mosaic
//
// *************************************
.mosaic {
  //@include size(100% rem(715));
  //background: $greyish-brown;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  figure,
  img {
    float: left;
    width: 100%;
    vertical-align: bottom;
  }

  &__column {
    float: left;
    max-height: 715px;
    width: 100%;

    &--one {
      float: left;
      width: 50%;
      margin: 0;

      @include media($screen-small) {
        width: 100%;
      }
    }

    &--two {
      float: left;
      width: 50%;
      margin: 0;

      .mosaic__box {
        width: 50%;
        margin-right: 0;
        max-height: 358.5px !important;
        overflow: hidden;

        @include media($screen-tiny) {
          width: 100%;
        }
      }

      @include media($screen-small) {
        width: 100%;
      }
    }
  }

  &__box-caption {
    @include position(absolute, auto null 0 null);
    @include size(100% rem(100));
    @include transform(translateY(100%));
    @include transition(transform .4s, opacity .1s .3s);
    background: rgba($darkish-red, .8);
    color: $light-primary;
    opacity: 0;
    padding: rem(20);

    .project {
      display: inline-block;
      font-family: $base-font-family;
      font-size: rem(15);
      text-transform: uppercase;
      width: 100%;
    }

    .project-name {
      display: inline-block;
      font-family: $heading-font-family;
      font-size: rem(26);
      text-transform: uppercase;
      width: 100%;
    }

    .full-case {
      @include transition(all .3s);
      color: $light;
      display: inline-block;
      font-family: $base-font-family;
      font-size: rem(18);
      text-align: right;
      text-decoration: underline;
      width: 100%;

      &:hover {
        font-weight: bold;
      }
    }

    &--small {
      .project-name {
        font-size: rem(20);
      }
    }
  }

  &__box {
    display: inline-block;
    float: left;
    max-height: 720px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      @include filter(grayscale(100%));
      opacity: .9;
      transition: .2s;
    }

    &:hover figcaption {
      @include transform(translateY(0));
      @include transition(transform .4s, opacity .1s);
      opacity: 1;
    }

  }

  &__box:hover > figure > img {
    @include filter(grayscale(0));
  }

  &__more-projects {
    @include size(100% rem(110));
    @include transition(all .3s);
    background-color: $darkish-red;
    float: left;

    .btn-projects {
      @include transition(all .3s);
      @include vertical-align();
      color: $white-smoke;
      display: block;
      font-family: $serifa-font-family;
      font-size: rem(24);
      padding: 0 10px;
      text-align: center;
      text-decoration: underline;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .icon-play {
    @include size(100%);
    background: url('/images/icon-play.png') no-repeat center center;
    display: block;
    opacity: .5;
    position: absolute;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

}

.mosaic-slider {
  @include pad(rem(20));
  @include span-columns(12);
  background: $light-red;
  color: $light;
  min-height: rem(274);

  &__title {
    font-family: $base-font-family;
    font-size: rem(24);
    font-weight: 700;
  }

  .bxprojects {
    margin: 0;
    padding: 0;
  }

  .bx-wrapper {
    background: $light-red;
    margin: 0;
    padding: 0;
  }

  .bx-viewport {
    background: $light-red;
    border: 0;
    height: 153px;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .bx-pager {
    bottom: rem(10);
    z-index: 99;

    &.bx-default-pager a {
      background-color: rgba($light, .4) !important;
    }

    &.bx-default-pager a:hover,
    &.bx-default-pager a.active {
      background-color: $light-primary !important;
    }
  }

  .full-case {
    @include transition(all .3s);
    color: $light;
    float: right;
    font-family: $base-font-family;
    font-size: rem(18);
    text-decoration: underline;

    &:hover {
      font-weight: bold;
    }
  }

  &__quote {
    font-family: $base-font-family;
    font-size: rem(18);
    font-style: italic;
    line-height: rem(28);
    margin-bottom: rem(30);
  }

  &__footer {
    float: left;
    width: rem(280);
  }

  &__profile {
    float: right;
    font-size: rem(16);
    padding-left: rem(10);
    text-align: left;
    width: rem(240);

    .name {
      display: inline-block;
      font-family: $heading-font-family;
    }

    .job {
      display: inline-block;
      font-family: $serifa-font-family;
    }
  }

  &__pic {
    @include size(40px);
    float: left;

    img {
      @include filter(grayscale(0));
      border-radius: 50%;
    }
  }
}
