---
layout: site-2016-pt
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
---

{% if page.about_img1 %}
  <section class="case-detail__banner">
    <figure>
      <img src="{{ page.about_img1 }}" alt="{{ page.title_text }}">
    </figure>
  </section>
{% else %}
  <section class="case-detail__no-banner"></section>
{% endif %}

<section class="case-detail__about">

  <div class="wrapper">

    <h1 class="case-detail__title">
      {{ page.name }}
    </h1>

    <h2 class="case-detail__category">
      {% if page.subtitle_text %}
       {{ page.subtitle_text }}
      {% endif %}
    </h2>

    <div class="case-detail__description">
      {% for line in page.about_text1 %}
        {{ line }} <br> <br>
      {% endfor %}
    </div>

  </div>

</section>

{% if page.customer_testimony %}
<section class="case-detail-testimonial">
  <div class="case-detail-testimonial__block">
    <div class="wrapper">
      <p class="case-detail-testimonial__description">
        {% for line in page.customer_testimony %}
          {{ line }}
        {% endfor %}
      </p>
      <span class="case-detail-testimonial__author">{{ page.customer_name }} <br /><small>{{ page.customer_role }}</small></span>
    </div>
  </div>
</section>
{% endif %}

<section class="case-detail-projects">
  <div class="wrapper">

    <div class="case-detail-projects__title">
      <h3>
          Outros Projetos
      </h3>
    </div>


    <div class="case-detail-projects__others">
      <ul>

        {% for item in page.other_projects %}
          <li>
            <a href="{{item.url}}/">
              <figure>
                <img src="{{item.image}}" alt="{{item.name}}">
              </figure>
            </a>
            <a href="{{item.url}}/">{{item.name}}</a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</section>

<section class="highlight-grid">
  <div class="highlight-grid__block highlight-grid__block--light">
    <h2 class="highlight-grid__title highlight-grid__title--dark">
      O que você está esperando?
    </h2>
    <p class="highlight-grid__subtitle">
      Vamos produzir algo espetacular juntos!
    </p>
    <a href="/contrate" class="btn btn--white ">Contrate</a>
  </div>
</section>

<script type="text/javascript">
  (function(){
    'use strict';
    $(function(){
      var stepsMenu = $("#steps-menu");
      stepsMenu.on('click', 'a', function(event) {
          // Replaces main content
          event.preventDefault();
          var $this = $(this);
          var step = $this.attr("href");
          $this.parent()
            .addClass("is-active")
            .siblings().removeClass("is-active");
          $(".step-content").not(step).css("display", "none");
          $(step)
            .fadeOut()
            .fadeIn();

          // Rotates the wheel
          stepsMenu
            .removeClass()
            .addClass("step-" + step.charAt(6));
      });
    });
  })();
</script>
